[2012-07-11 19:16] petervanderdoes opened #12 "Have the abillity to keep/delete local/remote branches on release finish"
Currently when you do a release finish the remote branch is removed by default.

We will add new options which will allow you to keep either local or remote. With the --keep option both branches will be kept.

Possible option-names: --keep-remote, --keep-local, there will be no short flags for these.

[2012-07-11 23:51] petervanderdoes opened #13 "Checking if branch exists will fail for remote branches."
The function git_branch_exists() will fail for remote branches.

[2012-07-14 00:28] #13 closed, assigned to petervanderdoes

[2012-07-14 03:00] petervanderdoes opened #14 "Improve output of the option -h,--help"
When you do something like `git flow release start -h` the output is generated by shFlags and it doesn't look nice.

[code]

I prefer to make it look and feel the same as the official git commands when you do -h

For `git flow release start -h` the output should look like:

[code]

Unlike the official git commands, which show a man page when you call them with `--help`, git flow will show the abov

[2012-07-17 20:12] #12 closed, assigned to petervanderdoes

[2012-07-17 20:42] petervanderdoes opened #16 "Set flags on by default"
Create the ability to have default values for certain flags.

For example:
- The fetch flag in git flow {release|hotfix|feature} finish.
  Instead have always have to enter git flow feature finish -F, the -F should be done by default, if you don't want to do the -F you can always use --nofetch.

[2012-07-18 19:54] petervanderdoes opened #17 "Ambiguous variables used in hooks/filter calls"
Certain variables don't have to be passed on to the hook/filter scripts as they are already available.

The following variables are available for the scripts:
- DOT_GIT_DIR
- HOOKS_DIR
- MASTER_BRANCH
  -DEVELOP_BRANCH
- ORIGIN

We'll update the scripts by stating these variable are available and what they mean.

[2012-07-20 16:39] baby-gnu opened #21 "In place release and release candidate"
Hello,

I wonder if the in-place release should be merge with the develop branch.

My use case is the following:

[code]

Or maybe a subcommande `candidate()` to tag the rc but do not merge in the develop branch?

Regards.

[2012-07-20 19:29] petervanderdoes opened #22 "In place release correct implementation?"
As discussed in #21
As I'm going through the code, I'm not sure I understand the following bit:

[code]

The git_current_branch is not correct, the in-place release should release the develop branch, not the branch you are currently on, according to the original issue #133 and that means it would never have to merge back in the develop branch but it actually should merge in the master branch.

As

[2012-07-23 15:49] #21 closed, assigned to nobody

[2012-07-23 19:46] #22 closed, assigned to petervanderdoes

[2012-07-26 20:34] baby-gnu opened #23 "Finishing a feature does not use --no-ff"
Hello,

Looking at rebasing my "make-production-release-branch-optional" branch on top of yours, I saw that features are fast-forward to the development branch.

According to http://nvie.com/posts/a-successful-git-branching-model/ all merges are non fast-forward.

Should we make the change?

[2012-07-26 20:47] baby-gnu opened #24 "Display where user is on finish"
Hello,

The `cmd_start()` function display a useful message to the user about on which branch she is.

I think the `cmd_finish()` should do the same.

Regards.

[2012-07-27 07:35] #23 closed, assigned to nobody

[2012-07-27 15:40] #24 closed, assigned to nobody

[2012-07-29 12:31] baby-gnu opened #34 "Add a flag to configure git-flow globally"
Hello,

I think we could add a flag to `git flow init` to store configuration globally instead of the current project.

Regards.

[2012-09-08 00:27] #14 closed, assigned to petervanderdoes

[2012-09-08 00:27] #17 closed, assigned to nobody

[2012-10-02 22:55] talios opened #35 "[: -eq: unary operator expected"
Every time I've tried to use the -avh branch on my OS/X machines I get the following problems when finnishing a feature branch or release:

[code]

This appears to merge the branches, but then fails to delete the branch, and can quickly leave your repository in a rather messy state if not noticed.

[2012-10-14 01:24] HaveF opened #36 "Is it a good idea to merge git-flow-completion to this AVH version of gitflow?"
Hi, peter,

I don't know where to ask question, so I write here.

I use git-flow before, but recently I notice your avh version, so I want to try.

And now, I use git-flow-completion as my completion file for git.
I just want to know if you know this -- if it is possible to use that with avh version? or need some change?

https://github.com/bobthecow/git-flow-completion

thanks

[2012-10-18 13:52] #36 closed, assigned to nobody

[2012-10-18 13:54] petervanderdoes opened #37 "Make name in feature publish optional."
Instead of always having to add the branch when doing a git flow feature publish, the name should be optional.

When a name isn't given, the current branch, if it's a feature branch, will be published.

[2012-10-18 14:14] #37 closed, assigned to petervanderdoes

[2012-10-26 07:25] atian25 opened #38 "HI, any changlog or new feature?"
hi, I notify that nvie/gitflow don't update for a long time, and found you are the most newly fork.
is these any changelog or feature list  that inprove the nvie/gitflow?

I'm  interest in Support multiple concurrent release/hotfix branches

[2012-10-27 02:37] #34 closed, assigned to nobody

[2012-10-27 11:49] petervanderdoes opened #39 "Environment settings for git-flow only"
With git you can set environment variables to change behavior, Maybe we should implement a way to set these environment variables just for gitf-flow

An example of such a variable is:

[code]

From the git 1.7.10 release notes:

You might want this behavior for git-flow, but not by default for git.

[2012-10-28 13:50] #39 closed, assigned to nobody

[2012-11-04 01:23] HaveF opened #40 "git flow config set --global does not work?"
$ git flow config set master production

Summary of actions:
- Using repository specific configuration file.
- Branch name for production releases set to production

$ git flow config set --global master production
flags:FATAL unrecognized option ()

_1.3.0-dev.15 (AVH Edition)_

[2012-11-10 03:13] #38 closed, assigned to nobody

[2012-11-13 13:21] #40 closed, assigned to petervanderdoes

[2012-11-23 17:46] petervanderdoes opened #43 "Keep track of the base"
Currently we can give a base for the following commands:
- feature start
- hotfix start
- support start

The behavior that is implemented in the original  software doesn't allow to merge those branches back into the original base.

I suggest we setup a way to keep track of the base of each of those branches and when we do a finish we check if the base still exists and merge with that base.

This s

[2012-12-06 19:25] mcmire opened #44 "flags:ERROR short flag required for (showcommands) on this platform"
Hey there, starting to use your fork and I am getting this message every time I issue a git flow command:

[code]

I believe this may be related to the fact that I am on OS X. I can trace this to shFlags but I'm not sure how to resolve this. Can you give me some insight?

[2012-12-06 19:37] glittershark opened #45 "New command/prefix/? for "subfeature" branches?"
A lot of the time in my workflow I find myself writing a particular feature with several subcomponents, and manually creating "subfeature" branches for those subcomponents, then merging them back into the main "develop" of that feature branch. It'd be nice to have support in gitflow for this sort of workflow - something like:

[code]

Which, with base as "install" and name as "registry", for examp

[2012-12-10 18:29] #45 closed, assigned to nobody

[2012-12-13 02:33] talios opened #47 "Problem executing gitflow-shFlags on OSX"
Latest HEAD gives errors when creating features:

[code]

It looks like this behaviour was introduced by Daniel Dehennin's f61656d13026abb23302113ca590355bc1ac6252 commit.

[2012-12-13 05:18] #47 closed, assigned to petervanderdoes

[2012-12-14 14:33] petervanderdoes opened #48 "Get the correct working directory."
Pull request #42 caused a problem. The command `readlink` is not the same across the different operating systems.

Version 1.4.0-dev.22 should address this problem, but it needs to be tested on the different operating systems.

The list below shows whether or not git-flow works on the given operating systems.

[code]

If you run git-flow on one of the above Operating Systems, that still needs to b

[2012-12-16 22:19] talios opened #49 ""release start" now requires a branch?"
I just noticed that somewhere in the recent commits creating a release branch now requires one to specific the base branch now that its configurable, if it's absent ( which used to default to the 'develop' branch) you now get:

$ git flow release start 3.0.7
Fatal: Base 'DEVELOP_BRANCH' needs to be a branch. It does not exist and is required.

Is this now by design that we MUST specify the release

[2012-12-17 03:28] #49 closed, assigned to nobody

[2012-12-17 13:18] adutra opened #50 "Cannot resume a previously failed hotfix finish"
Suppose that I have a hotfix branch, that I try to finish it, and it fails due to conflicts on the develop branch (i.e., _after_ the merge into master).

After fixing the conflicts, if I try to resume the "hotfix finish" process, it dies saying :

...because the hotfix branch has already been merged into master.

[This check](https://github.com/petervanderdoes/gitflow/blob/develop/git-flow-hotfix#

[2012-12-17 15:55] petersondrew opened #52 "Speed issues on Windows"
I've not tested this on Linux, but on Windows, git flow commands are painfully slow. Starting a release or hotfix branch takes anywhere from 40 seconds to a minute, yet normal git operations seem to be relatively snappy (so I don't believe it's related to the slowness some report with git on windows).
The slowness is the same whether I'm running under git bash, cmd, or powershell. The same slownes

[2012-12-19 20:26] #50 closed, assigned to nobody

[2012-12-20 02:48] #44 closed, assigned to nobody

[2012-12-21 17:53] petervanderdoes opened #54 "export POSIXLY_CORRECT can be harmful"
An issue was entered at the original git-flow (nvie/gitflow/issues/289)  stating that "because there might be other shell scripts down the line, git-flow should not mess up the environment for them." @mislav came to that conclusion becauase of another issue https://github.com/sstephenson/rbenv/issues/222.

I can see his point, and we need to work to get this removed.

[2012-12-21 18:12] #54 closed, assigned to petervanderdoes

[2012-12-23 23:46] #52 closed, assigned to nobody

[2012-12-24 05:02] #43 closed, assigned to nobody

[2012-12-24 17:56] petersondrew opened #55 "Windows shFlags issues 1.4.0-dev.40"
After updating to 1.4.0-dev.40 I'm seeing some issues that seem to be related to shFlags. Below are the results of some commands when attempting to init a new repository:

[code]

[2012-12-24 17:59] petersondrew opened #56 "The base 'develop' doesn't exists locally or is not a branch."
After updating to 1.4.0-dev.40, I can start a feature, but not finish it.

[code]

[2012-12-24 21:35] #56 closed, assigned to nobody

[2012-12-31 15:57] #55 closed, assigned to petervanderdoes

[2013-01-05 03:34] petervanderdoes opened #57 "Redo the config command for the base"
The config command has two subcommands for the setting and getting the base.

`git flow config set-base` and `git flow config get-base`

In hindsight I think it's better to use the following solution

`git flow config base [<options>] <branch> [<base>]`

Where the options would be as follow:
`--get` Get the base for the given branch (default behavior).
`--set` Set the given base for the given bran

[2013-01-05 04:03] #57 closed, assigned to nobody

[2013-01-07 10:03] rumpelsepp opened #58 "small typo in wiki"
Here is a small typo.

https://github.com/petervanderdoes/gitflow/wiki

change

[code]

to

[code]

[2013-01-07 12:03] #58 closed, assigned to nobody

[2013-01-10 02:01] cyvaquero opened #59 "Non-fatal error - '/usr/local/bin/gitflow-common: line 69: [: -eq: unary operator expected'"
OSX 10.8.2 (Mountain Lion)
Xcode 4.5.2

Install method:

[code]

Result:

[code]

[2013-01-10 11:22] #59 closed, assigned to nobody

[2013-01-15 00:32] #35 closed, assigned to petervanderdoes

[2013-01-19 20:04] petersondrew opened #60 "flags: FATAL unrecognized option () when using --help"
Tested in versions dev.51 and dev.56 on Windows, when using the --help flag such as

[code]

I receive the error

[code]

This is low priority as far as I'm concerned, it's not affecting my work.

[2013-01-21 14:23] #60 closed, assigned to petervanderdoes

[2013-01-21 15:05] dorner opened #61 "Single commit feature is fast-forwarded"
Seeing as this seems to be the actively developed version of git-flow, I figured I would "port" my issue over here. 8-)

There is code in git-flow to check if a feature has only a single commit, and if so, to do a fast-forward merge. This conflicts with the description of the git flow workflow described in the original article. I think it's useful to know that a commit was part of a feature, and t

[2013-01-26 15:39] #61 closed, assigned to petervanderdoes

[2013-01-26 22:20] jpscharf opened #62 "git-flow-clone"
[Git-flow-clone](https://github.com/ashirazi/git-flow-clone) does not seem to work with this version of git-flow. Could it be fixed, or the clone functionality added directly to git-flow?
Update: I was able to get it working on a mac, by copying the git-flow-clone script to the directory that contained git-flow. I installed git-flow through homebrew.

[2013-01-28 16:08] willome opened #63 "option showcommands is not working"
Option '--showcommands' does not seem coded...

[2013-01-28 16:11] willome opened #64 "Add a new comment while finishing a release (with squash option)"
Actually it just writes "Squashed commit of the following:". The feature name branch could be added by default.

[2013-01-29 01:02] #62 closed, assigned to nobody

[2013-01-29 23:46] #63 closed, assigned to nobody

[2013-01-30 11:25] willome opened #65 "finish release with -p option is not pushed"
git flow version
1.5.0-dev.6 (AVH Edition)

using : git flow release finish -Fpkn 1.0.0
Summary of actions:
- Latest objects have been fetched from 'origin'
- Release branch 'release/1.0.0' has been merged into 'master'
- Master branch 'master' has been back-merged into 'develop'
- Release branch 'release/1.0.0' is still locally available
- 'develop', 'master' and tags have been pushed to 'origin'

[2013-01-30 19:36] jpscharf opened #66 "Init and Remote Branches"
Is there a way to make `git flow init` to create a remote tracking branch for develop if it does not already exist?

[2013-01-31 00:58] #65 closed, assigned to nobody

[2013-01-31 03:07] #66 closed, assigned to nobody

[2013-01-31 20:21] beefsalad opened #67 "gitflow-installer.sh script does not function as expected on Ubuntu 12.04"
As I did not feel comforatable blindly running the installer, I pulled it to my system with the name gitinstall  Below is a bit of work I did to get it to work.  I ended up doing the manual install process.

user@machine:~$ ./gitinstall
### git-flow no-make installer

Usage: [environment] gitflow-installer.sh [install|uninstall] [master|develop]
Environment:
   PREFIX=/usr/local
   REPO_HOME=http:

[2013-01-31 20:31] beefsalad opened #68 "oops (delete this issue)"

[2013-01-31 20:31] #68 closed, assigned to nobody

[2013-02-01 13:28] #16 closed, assigned to petervanderdoes

[2013-02-01 13:28] #67 closed, assigned to nobody

[2013-02-01 13:29] #64 closed, assigned to petervanderdoes

[2013-02-16 22:28] k2s opened #69 ""git flow feature track" not working"
On my desktop PC I did:

[code]

Then I came to my desktop and wanted to continue with my work:

[code]

It ends with error.
Do I misunderstand something ?
Is it a bug ?
What is the best way to share my feature branch between PCs/developers ?

[2013-02-19 17:33] #69 closed, assigned to nobody

[2013-02-19 21:23] petersondrew opened #71 "Ideas for QA branches/releases"
I've been thinking about the idea behind having the ability to create a release from a branch other than develop, with the goal of releasing from a QA branch that has been tested and is isolated from new features being integrated into develop.
Here's an idea for a workflow utilizing this:

[code]

I could see lots of variations on that workflow, it's just an example for discussion.
What does every

[2013-02-19 23:10] k2s opened #72 "Linux installer one liner not working"
- there is one-liner on page https://github.com/petervanderdoes/gitflow/wiki/Installing-on-Linux,-Unix,-etc.
- the script needs 2 parameters to be executed
- I don't know about a way how to do it with pipe
- that one-liner doesn't do anything - user should first download and then execute with 2 parameters

[2013-02-19 23:58] #72 closed, assigned to petervanderdoes

[2013-03-04 20:57] gartz opened #74 "Shortcut to finish and delete"
Looks like say this:

[code]

When you are inside the feature (feature/my_feature_name), is just annoying.
Would be easier if we just can finish without specify the name.

[code]

Finish the current related branch, like feature, hotfix, relase or support.

Same for `git flow delete` (if I'm in feature/my_feature_name, it will be deleted, and checkout dev).

My team would appreciate git flow if it

[2013-03-10 05:07] cooljeanius opened #75 "Help create a MacPorts port for git-flow-avh and git-flow-avh-completion"
See this issue on the MacPorts trac bug tracker for more info: https://trac.macports.org/ticket/37378

[2013-04-03 19:24] craigfowler opened #80 "Suggestion for functionality of 'support' branches"
Having read some of [the previous (somewhat dated) conversation ](https://groups.google.com/forum/?fromgroups=#!topic/gitflow-users/I9sErOSzYzE) about support branches it seems like they are not thoroughly developed because it's uncertain as to how they should work and what their purpose is.

Fair warning - I got pretty verbose here - maybe you just want to read the summary below?

---

I'd like t

[2013-04-09 11:40] #80 closed, assigned to nobody

[2013-04-09 11:42] #71 closed, assigned to nobody

[2013-04-10 22:59] petervanderdoes opened #82 "Option for global hooks and filters directory"
Currently the hooks and filters need to be located in the .git/hook directory of the repository.

We would add an option that gives you the ability to set a global directory.
You would be able to know which repository the script was called from by using a newly added exported variable which has the absolute path to the repository.

[2013-04-17 08:11] darkk opened #83 "do-not-tag options in `release` and `hotfix` have inconsistent names"
[code]

That's a bit ugly, but I'm not sure if it's worth fixing.

[2013-04-28 02:40] #83 closed, assigned to petervanderdoes

[2013-05-08 03:08] fengyie007 opened #89 "Help Init new repository on my mac osx"
mac osx 10.8.3

jason$ git flow init
flags:ERROR short flag required for (showcommands) on this platform
flags:ERROR short flag required for (local) on this platform
flags:ERROR short flag required for (global) on this platform
flags:ERROR short flag required for (system) on this platform
flags:ERROR short flag required for (file) on this platform
/usr/local/homebrew/bin/../Cellar/git-flow-avh/1.5

[2013-05-11 23:10] #89 closed, assigned to petervanderdoes

[2013-05-18 03:55] naillizard opened #90 "Can't get hooks to work"
Hi all,

can't figure out what I might be doing wrong.

created all the files in .git/hooks from https://gist.github.com/petervanderdoes/2878492

created a Changes.mdown file in the root, when I run git flow hotfix start <version>, it just looks like the hooks don't work.

[2013-05-31 16:26] oddnoc opened #91 "feature finish --squash fails to delete local branch"
When you finish a feature with --squash, flow attempts, but fails, to delete the local feature branch:

[code]

[2013-05-31 19:22] #91 closed, assigned to petervanderdoes

[2013-05-31 19:23] #90 closed, assigned to nobody

[2013-06-12 12:08] deiga opened #92 "Is there a way to make default global configs"
I want to rename my default `develop` branch globally, so that all projects would use that.
How do I do this?

[2013-06-13 12:01] #92 closed, assigned to nobody

[2013-06-27 20:42] kirillsalykin opened #93 "How get published feature"
When i'm trying to pull - says this:
Trying to pull from 'feature/dont-ask-for-payment' while currently on branch 'feature/target-gift-card'.

[2013-07-01 09:15] kirillsalykin opened #95 "Sync base branches via pull/push"
I have published feature branched started not from develop, but from other feature branch.
How it can be synced by other team guys?

AFAIK, all bases stored in gitflow_config - but this file neither pushed/pulled.

Thanks.

[2013-07-09 12:06] HaveF opened #96 "problem of "git flow release start <release> [<base>]""
part of develop branch log :

[code]

And I want to make a release branch from 2nd commit(06841e9)

But, when I do like this:

[code]

[2013-07-12 18:55] 88Alex opened #97 "git flow init -d not working"
Whenever I run `git flow init -d`, it displays a whole bunch of error messages, complaining about "too many arguments". I then have to set it up manually, which I don't really like doing.

[2013-07-12 20:06] 88Alex opened #98 "Rewrite in Ruby"
As has been discussed under nvie/gitflow#33, it would be a really great idea to rewrite gitflow in a higher-level language. Ruby is my personal favorite, but Python would also work.

[2013-07-18 19:23] jackrabb1t opened #99 "git flow init not working (mac)"
$ git flow init
flags:ERROR short flag required for (showcommands) on this platform
flags:ERROR short flag required for (local) on this platform
flags:ERROR short flag required for (global) on this platform
flags:ERROR short flag required for (system) on this platform
flags:ERROR short flag required for (file) on this platform
/usr/local/bin/../Cellar/git-flow-avh/1.5.2/bin/gitflow-common: line 79

[2013-07-19 18:39] #99 closed, assigned to nobody

[2013-07-23 13:52] andreineculau opened #100 "git flow <subcommand> <subaction> [<name>] (i.e. optional name)"
I have a feeling this is a duplicate, but I couldn't find anything.

Am I missing something, or you would normally have say the feature branch as your current branch, and you would like to finish it ?

In that case, why the duplication?

[code]

[2013-08-08 07:28] reftel opened #102 ""git feature finish" on a git without an origin says branch has been remotely deleted"
When running on a stand-alone git without any remotes, finishing a feature issues an unexpected printout: "Feature branch 'feature/foo' has been locally deleted; it has been remotely deleted from 'origin'". Since there is no remote (and in particular no remote named "origin"), no remote branch can have been deleted. The printout is therefore wrong.

Steps to reproduce:

$ git init test
Initialized

[2013-08-09 23:44] #102 closed, assigned to nobody

[2013-08-11 20:22] #100 closed, assigned to petervanderdoes

[2013-08-11 20:33] petervanderdoes opened #103 "Make branch name optional for most commands"
Currently only the commands

[code]

have the option to not give a name. It checks the current branch and if that's a feature branch it uses that branch name.

This behavior should be made available for the commands

[code]

[2013-08-11 20:36] #103 closed, assigned to nobody

[2013-08-11 20:38] #97 closed, assigned to nobody

[2013-08-11 20:44] #96 closed, assigned to nobody

[2013-08-11 20:44] #93 closed, assigned to nobody

[2013-08-11 20:45] #75 closed, assigned to nobody

[2013-08-15 01:54] #74 closed, assigned to petervanderdoes

[2013-08-21 17:39] OpherV opened #108 "Git flow feature pull error"
Running `git flow feature pull origin test` I get

[code]

So essentially if you're not on the feature branch you're trying to pull, you can't pull it. Kind of a catch 22 situation here :)

I verified and this does not happen with vanilla gitflow

[2013-08-23 10:07] OpherV opened #110 "Git flow hotfix finish error"
Let's assume I have hotfix branch named "hotfix/1.1.1"

When running

[code]

The command opens VIM and asks for a tag name, even though the tagname should be implied from the hotfix branch name

[2013-08-23 15:26] #110 closed, assigned to nobody

[2013-08-31 05:11] binarykitchen opened #111 "-eq: unary operator expected"
I just spotted a couple of warnings on my iMac:

[code]

Any ideas where the bug is from?

[2013-09-02 00:03] #111 closed, assigned to nobody

[2013-09-04 22:08] marcvangend opened #112 "Document the (most important) differences between vanilla gitflow and the AVH edition"
Maybe I'm missing something, but I couldn't find a list of differences between vanilla gitflow and the AVH edition. It would be great if you could document the differences, or at least the most important ones. A list like that would help me decide if the AVH edition is right for me.

Thanks.

[2013-09-05 11:22] #112 closed, assigned to nobody

[2013-09-10 23:52] #108 closed, assigned to petervanderdoes

[2013-09-17 18:32] #82 closed, assigned to nobody

[2013-09-19 23:39] Menelion opened #113 "Wiki: it's worth mentioning Github for Windows"
It's worth mentioning Github for Windows on the installation page.
You can just copy [this](https://github.com/nvie/gitflow/wiki/Windows#github-for-windows), except that the user needs to download your _gitflow-getopt-windows.zip_ archive.
Just installed this way, it works indeed. Windows 7 32 bit Ultimate, Github for Windows latest version, Git Flow AVH just cloned).

[2013-09-21 21:40] jaspernbrouwer opened #114 "finish-tag-message hooks"
It looks like the `filter-flow-hotfix-finish-tag-message` and `filter-flow-release-finish-tag-message` hooks are only invoked when the `-m` flag is passed. If this is correct, what exactly is the purpose of these hooks?

What I wanted to do is have a default tag message in place when the editor opens (which a user can alter if needed), is this possible?

[2013-09-22 09:39] TheLudd opened #115 "Bettter suggestion for version tag prefix when using default values."
When initializing a project with `git flow init -d` the version tag prefix is an empty string which seems to always be wrong. I have two suggestions of how to improve this:
1. Let the user always type in the name of the version tag prefex even if the `init` command is run with the `-d` flag
2. Assume that the version tag prefix is the name of the directory the user is in followed by a "-". E.g. if

[2013-09-24 22:17] mloskot opened #117 "git-flow-support: Manage your hotfix branches"
The current [git-flow-support](https://github.com/petervanderdoes/gitflow/blob/885aa344d4e215f0fd8db006ce4f0fda8cd6b8df/git-flow-support#L51) uses **hotfix** branches name where **support** should be used:

[code]

[2013-09-25 00:40] #117 closed, assigned to nobody

[2013-10-01 19:55] #115 closed, assigned to nobody

[2013-10-02 12:42] #114 closed, assigned to nobody

[2013-10-17 17:31] FloGa opened #118 "Bug: Obsolete call of expand_nameprefix_arg in git-flow-feature"
Hey Peter,

in git-flow-feature – namely in the functions `cmd_diff()`, `cmd_checkout()`, and `cmd_delete()` – there are calls to the method `expand_nameprefix_arg()` which you already renamed to `gitflow_expand_nameprefix_arg()` and `gitflow_expand_nameprefix_arg_or_current()` in gitflow-common.

So everytime you call one of those methods, like `git flow feature checkout new_thing`, you'll get an

[2013-10-17 19:42] #118 closed, assigned to nobody

[2013-10-18 20:27] togume opened #119 "Base install with Brew throws error when using Git Flow"
Firstly, thanks for the great fork!

Installing git-flow-avh was throwing the following error:

[code]

My tech-specs are the following:
- OSX 10.9
- Brew 0.9.5
- 1.7.0-dev.43 (AVH Edition)
- bash-completion

Installed with:
`brew install git-flow-avh --HEAD`

Current solution to this issue:

[code]

[2013-10-19 19:50] #119 closed, assigned to nobody

[2013-10-20 01:37] binarykitchen opened #120 "How to merge into other branches after finishing a release?"
Hi there

Can I configure `avh` also to merge into other branches after a `git flow release finish xxx`? Currently it merges into develop + master when I do so.

Also I wonder if I can tell avh to do a `git rebase` after a merge?

[2013-10-21 23:08] #120 closed, assigned to nobody

[2013-10-22 13:41] petersondrew opened #121 "The base branch.feature/record-audit-in-db.base=develop doesn't exists locally"
I'm having an issue similar to the issue I had with completing hotfixes a few months ago.
I had a feature branch that was started a while back, can't remember the version of git-flow. I recently upgraded to the 1.6.1 release, and when attempting to finish a feature, I receive the error message:

[code]

I've also tried with 1.7.0-dev.45 and receive the same error message.

[2013-10-28 14:48] #121 closed, assigned to nobody

[2013-10-28 14:49] petervanderdoes opened #122 "Fix conversion to config for branching"
See #121

[2013-10-29 02:24] binarykitchen opened #123 "Never touched master branch, but have merge conflict?"
Hi there

This is weird. I work from home and from the office with the same repo. I always work with `git flow release` and do start/publish/finish whenever a sprint is done. The master branch is never touched. Code changes are supposed to get merged into master during a `git flow release finish`.

But I am having merge conflict sometimes when I do so. Weird. There shouldn't be any. Simply because

[2013-10-29 07:48] binarykitchen opened #124 "Branch does not exist but git flow says it does"
[code]

Today, in the office I finished the v0.0.5 release and started & published the v0.0.6 release. Here at home I wanted to continue with my work in the new release but am unable to track it. See above. Also, git flow says the v0.0.6 branch exists but I cannot see it.

What's wrong here?

[2013-10-29 12:26] #124 closed, assigned to nobody

[2013-10-31 09:15] comaxxdevelopment opened #125 "Installer requires https"
When running the installer a error occures

[code]

This is due to the use of "http" instead of "https"

[2013-10-31 10:27] andriijas opened #126 "platform errors"
I get this errors all the time with git flow avh 1.6.1 and HEAD version. Any ideas?

flags:ERROR short flag required for (showcommands) on this platform
flags:ERROR short flag required for (local) on this platform
   flags:ERROR short flag required for (global) on this platform
   flags:ERROR short flag required for (system) on this platform
flags:ERROR short flag required for (file) on this platf

[2013-10-31 11:31] #125 closed, assigned to nobody

[2013-10-31 12:03] #126 closed, assigned to petervanderdoes

[2013-10-31 13:01] petervanderdoes opened #127 "Add option to add a merge message"
Have the ability to set the merge message instead of relying on the default one.

With the feature we should also include a filter for the merge message.

[2013-11-11 11:41] emil-nasso opened #128 "git feature pull/track/checkout confusing"
The information available about what git feature pull/track/checkout is lacking. I find it very confusing and don't know what the difference is.

pull doesn't seem to track, according to this:
http://stackoverflow.com/questions/18412750/why-doesnt-git-flow-feature-pull-track

The documentation here, or in the commandline, doesn't explain the difference:
https://github.com/petervanderdoes/gitflow/w

[2013-11-17 01:22] petervanderdoes opened #130 "Add new command: clone"
Whn you do a git flow clone, the repository is cloned, followed by a git flow init.

[2013-11-18 16:47] petervanderdoes opened #131 "Implement rebase command for hotfix, release and support branched."
There is a rebase command for feature branches but not for the other branches.

I don't see a reason why not to implement the rebase for them as well. This means we can also implement the shortcit `git flow rebase`

[2013-11-18 17:10] #113 closed, assigned to nobody

[2013-11-21 02:15] #131 closed, assigned to petervanderdoes

[2013-11-22 18:00] rmcdonough-mw opened #132 "gitflow script"
line 125 is missing a closing ']' in if statement after "${SUBCOMMAND}" = "publish"

[2013-11-22 23:08] #132 closed, assigned to nobody

[2013-11-26 14:35] iancrowther opened #133 "feature start"
Hi,

I just updated to v1.7.0 on osx 10.9 and get the following error.

git flow feature start smtp
flags:ERROR short flag required for (showcommands) on this platform
/usr/local/bin/gitflow-common: line 79: [: -eq: unary operator expected
/usr/local/bin/gitflow-common: line 79: [: -eq: unary operator expected
Switched to a new branch 'feature/smtp'

The branch started ok it seems, any thought how

[2013-12-01 03:05] #133 closed, assigned to nobody

[2013-12-16 13:02] petervanderdoes opened #134 "Create website"
We need a website to more easily communicate upcoming changes and document the software.
The other upside would be we can post "tutorials", "best practices" of git and git-flow.

The website shall be build using:
- Sass 3.3
- Compass 1.x
- nanoc 3.x
- Foundation 5

[2013-12-31 03:17] zeade opened #135 "If NAME is set in shell 'git flow hotfix publish' (and 'finish') will fail"
This took awhile to track down and I don't know bash or this repo well enough to offer a patch. I think I had name set as an environment var for IRC way back when (seriously, this part of my .bashrc dates back 15+ years).

Easy to replicate:

[code]

[2013-12-31 12:04] OpherV opened #136 "git flow init -d fails"
If I have a project with only the branch "develop", and the branch is not empty then runnning `git flow init -d fails` gives

[code]

This doesn't happen on vanilla gitflow

Where are the default branch values for the `-d` flag located? I'll try to patch that myself

[2014-01-02 07:33] deiga opened #137 "Add configuration for default options"
I'd like my `release` and `hotfix` actions to always use `-Fp`, so it would be great to be able to configure this.

I'd also like to configure the default names for my gitflow branches and let `git flow init` use my specified defaults.

My suggestion would be to create a `~/.gitflowconfig` which would hold these options.

[2014-01-02 07:34] deiga opened #138 "Add options for strategy and merge-strategy"
For hotfix merges I'd like to use `git merge -s recursive -X ours` so it would be great if gitflow would accept the `-s` and `-X` options :)

[2014-01-10 14:05] lddubeau opened #139 "``git flow release finish`` without parameter when a version prefix is set creates nonsensical version tag"
### Versions

gitflow: 1.7.0 (AVH Edition)
git: 1.8.5.2
OS: Debian testing (up to date as of 2013/01/10).
### How to reproduce

Perform:

[code]

Then init gitflow as follows, keeping everything to the default except the version tag prefix which is set to `v`:

[code]

Then perform a release and finish it:

[code]
### Actual Results

The release has been tagged with the tag `v`:

[code]
### Expect

[2014-01-10 18:26] #139 closed, assigned to petervanderdoes

[2014-01-10 20:05] #135 closed, assigned to petervanderdoes

[2014-01-11 14:21] #98 closed, assigned to nobody

[2014-01-11 14:22] #48 closed, assigned to nobody

[2014-01-11 14:27] petervanderdoes opened #140 "Remove fast-forward merge in feature finish"
Currently a fast-forward merge is done when there is only one commit in a feature branch.

The argument given at https://github.com/nvie/gitflow/issues/292#issuecomment-27331962 is a good argument to remove this behavior.

I could introduce a configuration variable that would make a 1 commit feature branch fast-forward. But default behavior will be no fast forward.

[2014-01-13 04:55] #137 closed, assigned to nobody

[2014-01-24 21:58] petersondrew opened #141 "Hotfix pull/track?"
Hi there,

I'm working on integrating Jira into our shop and as part of the evaluation I've found that it has a nifty little feature that let's you create a branch in bitbucket from their web interface for an issue. This is handy as it names the branch based on the issue, and if you prepend "hotfix/" to it, it then matches the git-flow nomenclature.

I can easily do a fetch and checkout that branc

[2014-01-27 17:58] #141 closed, assigned to petervanderdoes

[2014-02-04 12:04] jwtodd opened #142 "unable to invoke a hook to change project files during 'git flow release branch ...' invocations"
hey -

  'brew install git-flow-avh'

  i'd like to update a project file (mvn pom.xml) during a 'git flow release branch ...' invocation yet i can't seem to add an invokable hook file in [ws]/.git/hooks

  thoughts?

  pretty sure this is a pilot error ... but i could really use another set of eyes at this time.

  thx,
- james

[2014-02-04 19:19] cwarren-mw opened #143 "Preventing multiple hotfixes"
As I understand it, git flow will refuse to create a new hotfix if one already exists in the local repository. Would it be possible (or desirable) to prevent hotfix creation if there's an existing hotfix branch on the remote repository? Right now, multiple users can create and publish hotfixes at the same time, which is a state I would prefer to avoid if possible.

Thank you.

[2014-02-05 14:26] it-ony opened #144 "Make git flow work with remote branches"
Git flow works with local branches. Working in a team, one member e.g. starts a release branch and does `git flow release publish`.

It would be great if git flow had a reverse command to `publish`, to get all remote branches in `release/`, `hotfix/`, `feature/`, `support/` as tracked local branch.

[2014-02-05 17:02] dkirrane opened #145 "Cygwin install issue"
Having issues installing on Cygwin. After running wget it doesn't recognize the git flow init command

[code]

[2014-02-05 17:29] #142 closed, assigned to nobody

[2014-02-11 00:10] bedge opened #147 "hotfix finish will overwrite version in develop if version is bumped in hotfix branch."
This may be a mental issue on my end but it seems like a common workflow.
After a 'git flow release start', I bump the version in develop so that the following release gets a new version.
eg: release = 1.0, develop = 1.1

Now I make a hotfix, where I bump the branch to 1.0.a

When I do a 'git flow hotfix finish -F -p 1.0.a', this will conflict in develop with the version number.
I want develop to

[2014-02-11 14:42] #147 closed, assigned to nobody

[2014-02-17 13:31] craigfowler opened #148 "'export' fails in 'gitflow_load_settings()' when the repo is in a directory structure which contains spaces"
If the current repository resides within a directory structure which contains spaces, the command `export GIT_CURRENT_REPO_DIR=$(git rev-parse --show-toplevel 2>/dev/null)` in the function `gitflow_load_settings()` (in `gitflow-common`) fails with an error.

Here is a fairly simple test case, the error occurs on the last line, after I issue the `git flow release start 1.0.0` command.  For the reco

[2014-02-18 16:17] sleicht opened #150 "'git-flow-support' sets wrong arguments"
In the last commit f246c7ff7174baed185cc82a2c0d842969c1eb0c a copy/past-error entered the system:
`
VERSION=$1
BASE=$2
`
where removed and overwritten with `REMOTE` and `NAME`.

[2014-02-18 19:48] #150 closed, assigned to petervanderdoes

[2014-02-18 19:51] #148 closed, assigned to nobody

[2014-02-18 19:53] #145 closed, assigned to nobody

[2014-02-19 00:53] mbrennansailthru opened #151 "-F --no-fetch Flag does not work on 'git flow feature start' using base other than develop"
When using 'git flow feature start -F' with a different base branch than develop, git flow attempts to fetch the base branch from origin.

Works using --nofetch fine.

[2014-02-27 10:27] talios opened #152 "Trying to fetch branch $origin/$branch but it does not exist."
With commit `22b290109382a3eca5642b6824e16c5663a9d251` ( current `develop` commit ) git-flow is failing for me on OS/X with the following:

[code]

[2014-02-27 13:35] #151 closed, assigned to nobody

[2014-02-27 21:10] #152 closed, assigned to nobody

[2014-03-10 22:11] NobbZ opened #153 "git flow release finish -s as default?"
Is there a way to make `-s` to be default parameter when using `git flow release finish`? I often forget to do this and hate to manually delete the tag and retag the commit with `-s` then…

[2014-03-11 15:51] #153 closed, assigned to nobody

[2014-03-25 02:01] deekej opened #154 "Mistakes in Wiki/Reference/Configuration"
Hey there!

I've spent some time finding how this works and what's wrong. I have 1.6.1 version of git flow and ".gitflow.export " doesn't work for me as a configuration file as mentioned in: https://github.com/petervanderdoes/gitflow/wiki/Reference:-Configuration

Renaming it to .gitflow_export does the trick.

Also, same goes for "export GIT.MERGE.AUTOEDIT=no" - even the man page says, that the c

[2014-03-25 17:55] #154 closed, assigned to nobody

[2014-04-02 08:33] nederdirk opened #155 "Git-flow hooks are not executed when not in repository top-level directory"
Usually the `gitflow.path.hooks` setting is defined relative to the repository top-level path; when `$PWD` is something else than the repository top-level directory, the hooks directory is not found.

It would be better to make some guesses about where the hooks directory lives, for example first try to find the hooks directory relative to `$PWD` (current behaviour), if that directory doesn't exis

[2014-04-02 12:16] #155 closed, assigned to nobody

[2014-04-14 18:17] nchelluri opened #156 "Add support for bugfix command"
Hi,

We are using JIRA and Stash (Atlassian products) in our development, along with git-flow-avh.

JIRA/Stash, as we have configured them, are pretty much following standard Git flow practice. However, they have an option to create a branch with the "bugfix" prefix. It operates like "feature" (branches from develop).

I am wondering if we can get a copy of the "feature" command that is called "bu

[2014-05-06 19:29] ddewaele opened #157 ""ERROR short flag required" msg on Mac OS X"
I followed the instructions on https://github.com/petervanderdoes/gitflow/wiki/Installing-on-Mac-OS-X.

I'm running Max OS X 10.7.5

I had the original git flow installed and replace it with the AVH edition

[code]

I uninstalled git flow and installed the AVH edition

[code]

But then I noticed the following issue:

I executed the post installation steps

[code]

I added the following content to

[2014-05-08 14:47] rgallo opened #158 "'git flow feature delete' doesn't check out base branch, only develop"
When trying to delete a branch that was created off of a different branch, 'develop' is checked out rather than the base branch, causing the delete to fail if the base branch isn't fully merged in.

[code]

[2014-05-08 16:53] simonweil opened #159 "What is the support branch used for?"
I don't understand what the support branch is meant for and the only explanation I found was in #80 .

Is the summary in #80 correct?
Whether yes or no, please add to the wiki some explanation.

Thanks!

[2014-05-08 16:54] simonweil opened #160 "Is there an option to squash and rebase Hotfix commits on finish?"
Very much appreciate this project!

[2014-05-12 12:21] havvg opened #161 "merge hotfix into current release"
If there is a `release` branch present (locally) and I `finish` a `hotfix` the resulting `master` branch should be merged into the `release` branch, too.

Currently the `hotfix` is only merged into `master` and `develop`.

This may be optional. We got a release management including RC versions, which are based on the current release branch. However, currently we need to manually merge the master b

[2014-06-15 15:50] simonweil opened #164 "Feature proposal - cherry pick commits from hotfix to develop"
The goal of this proposal is to keep a clean history without too many splits in the `git log` graph history.

Add a `--cherry-pick` option to hotfix finish command: `git flow hotfix finish --cherry-pick` that will cherry pick the relevant commits from the hotfix branch to the develop branch instead of the merge.

The hashes for the cherry-pick can be found with this command:
[code]

**If this is a

[2014-07-30 09:04] KayEss opened #166 "Release tracking broken"
I'm trying to track a release, and can't

[code]

[2014-07-31 15:54] elistevens opened #167 "Allow multiple hotfix branches to exist at the same time"
Our use case is:
- Release version 2.3.0
- Begin work on version 2.4.0, features merged to develop
- Two bugs are discovered in 2.3.0, both slated for 2.3.1

Right now, our only choices are to:
- Mix multiple bugs into one branch (bad from a testing and separation of concerns POV)
- Serialize development (bad from a "customers need this fixed ASAP" POV)
- Have developers not push their commits off

[2014-08-05 15:19] OpherV opened #168 "--keepremote fails"
I'm using 1.8.0-dev.42 (AVH Edition) under Windows

When running

[code]

I get

[code]

[2014-08-07 07:19] micha149 opened #169 "Push develop before delete feature branch?"
Hey.

I am not sure if this causes other problems but is it possible to push develop branch before deleting the feature branch on a `feature finish`? We are using [Atlassian Stash](https://www.atlassian.com/software/stash) with pull requests. A branch which is involved in a pull request can not be deleted. When I push develop the pull request will be automatically closed. So, switching these parts

[2014-08-07 15:22] #168 closed, assigned to petervanderdoes

[2014-10-15 06:06] #166 closed, assigned to nobody

[2014-11-16 07:12] seonggu opened #172 "Feature request - configurable delimiter (e.g. from '/' to '-')"
I'm currently trying to use git flow in personal projects.
So far, it provides nice enhancements than bare git commands. :D

My request is that would you provide some configurations to control delimeters?
In my work place, coding convetion to create new feature branch is feature-XXX, not feature/XXX.

Thank you in advance

[2014-11-19 15:31] fields opened #173 "Please add support for starting a release from a tag"
I'm not sure if this is the right place for this - please let me know if not. This issue has manifested using Git Tower, and they've said they just pass the commands through to the AVH fork for git-flow. What I'm describing below used to work, and I don't know if it's because it's not supported in the AVH fork and they just switched to that, or something changed and it became no longer supported.

[2014-11-25 16:38] devzzm opened #174 "'git flow feature list' not working"
[code]

[code]

[code]

[code]

[code]

[2014-12-02 10:44] TAGC opened #175 "'git flow release finish [VERSION]' appears to hang indefinitely"
I should start by mentioning that I'm very new to using the Git flow system.

I'm using a 64-bit Windows 7 machine, and I attempted to merge a release-branch with master using the command `git flow release finish 2.0`. This created several merge conflicts, which I resolved and then committed with message 'Version 2.0'.

![](https://cloud.githubusercontent.com/assets/1588951/5261260/9d1a4886-7a0f-1

[2014-12-09 21:52] djsmith opened #176 "Paths with spaces"
If the repo path has spaces (ex. /projects/hello\ world/) then the run_pre_hook() and run_post_hook() functions will fail. The $scriptfile variable should be quoted.

[code]

[2014-12-10 03:42] #176 closed, assigned to nobody

[2014-12-12 13:26] gisphm opened #177 "unexpected operator"
When I wanted to see the log on develop branch against master one, I typed `git flow log`, and found the output as following:

[code]

However,  the log showed up is fine.
I wonder what does 'unexpected operator' mean. I am using zsh with oh-my-zsh and I turned its git and git-flow-avh plugin on.  And I looked `git-flow` file up at line 70. But I just found `builtin pwd -W`, without any operator.

[2014-12-14 03:13] #177 closed, assigned to nobody

[2014-12-19 23:51] justin808 opened #180 "Logging git-flow commands"
Is there any feature to show the commands run?

This commit seemed to add such a feature:
https://github.com/nvie/gitflow/commit/5bca8d9358f5b08af40ac32f289bb14b18965cec

This does log, but it's pretty messy

[code]

[2014-12-22 18:12] #174 closed, assigned to nobody

[2014-12-22 19:42] #136 closed, assigned to nobody

[2014-12-22 19:43] #157 closed, assigned to nobody

[2014-12-24 00:34] #167 closed, assigned to nobody

[2014-12-24 00:35] #172 closed, assigned to nobody

[2014-12-24 00:42] #169 closed, assigned to petervanderdoes

[2014-12-24 01:22] #140 closed, assigned to petervanderdoes

[2014-12-24 01:28] #180 closed, assigned to nobody

[2014-12-24 01:45] #158 closed, assigned to nobody

[2015-01-12 12:35] nbartels opened #181 "feature finish default behavior"
Hi there,

I think the default behavior for the ```git flow feature finish``` is not the best. It would be better to keep the remote branch and delete it only if the user changed the config.

BTW config: is this command the correct one to change the "keep remote" system wide?

```git config --global --bool feature.finish.keepremote true```

[2015-01-13 18:41] fields commented on #173
Any further thoughts?

[2015-01-13 19:36] petervanderdoes commented on #173
Oh I probably will do this but maybe with an configuration to be set. something like gitflow.release.allow.from.tag or something.

Would  that work for you?

[2015-01-14 19:14] fields commented on #173
That sounds fine to me, but I use this primarily through Tower.app, so I've asked them to weigh in as well.

[2015-01-18 03:45] petervanderdoes commented on #181
As the local branch is deleted by default as well, I figured the remote should have the same behavior.
Almost on the config it's

`git config --global gitflow.feature.finish.keepremote true`

[2015-01-18 03:45] #181 closed

[2015-01-18 04:04] petervanderdoes commented on #164
I'm assuming you mean master branch instead of develop in the script as the hotfix branch is branched from the master.

On a side note to get the hashes it's better to use:
`git rev-list master..hotfix/[name]`

[2015-01-18 04:08] #122 closed

[2015-01-18 10:43] simonweil commented on #164
You are right, I meant 'master' and thank you about `rev-list`.

Should I submit a PR?

[2015-01-18 14:55] petervanderdoes commented on #164
Sure, I think it's a nice option to have.
Thanks

[2015-01-18 21:01] simonweil commented on #164
Seems that I've already sent the PR quite a while ago #165 .
Please comment on the PR and I'll fix what you see necessary.

[2015-01-19 17:42] dkirrane opened #182 "Issue with release branch off a support branch"
My scenario is this:

1. Start a support release branch off of a support branch `support/1.0`
2. Finish the support release branch to merge back into `support/1.0` and tag it.

The problem is someone could commit A to `support/1.0` before we get the finish the support release branch. This commit A would exist in the support tag.

I think a better branching strategy for support branches would be so

[2015-01-22 22:13] gabeio commented on #143
The point behind branching is for anyone to be able to make a branch and create hotfixes for you. As such there is no possible way to tell if another user has started a hotfix except by pulling from everyone's local repo... and only if there already is a hotfix branch present to fail but this is basically impossible.

[2015-01-24 00:14] oddnoc opened #183 "Publish unexpectedly fails to set rebase = true in the presence of branch.autosetuprebase always"
The way the flow scripts implement cmd_publish (push followed by explicit config edits) prevents the operation of autosetuprebase that you get when you do a `git push -u origin some_branch`, which defeats the purpose of having autosetuprebase turned on.

I would be happy to submit patches, but, not knowing the rationale for the present implementation, I'm reluctant to simply jump in.

[2015-01-24 03:54] petervanderdoes commented on #183
The publish command was inherited from the original source, I don't think much thought was given to the command at the time of implementation.

Feel free to submit a patch, I recommend doing one flow command first before patching all the rest.
Makes it easier to review and when we agree on implementation it just needs to be integrated in the rest of the flow commands.

[2015-01-26 17:11] petervanderdoes commented on #164
Continue discussion on #165

[2015-01-26 17:11] #164 closed

[2015-01-28 23:11] dpwspoon opened #185 "Proper usage question or bug on combining parameters with release finish"
git flow release finish -m -p 1.0 doesn't seem to do the -p though does not return any errors

Apologies if I'm doing something wrong but I've tried several variations of using the -m and -p together and I've only gotten the -m to work.  Though if I try with

[code]

the -p seems to take affect

[2015-01-29 02:32] petervanderdoes commented on #185
When using `-m`, it needs to be followed by the message. If you check you log, your commit message on probably is `-p`

[2015-01-29 02:54] dpwspoon commented on #185
K I tried
[code]
and got
[code]

[2015-01-29 11:07] petervanderdoes commented on #185
Which OS and which version of getopt are you using?

[2015-01-29 17:51] dpwspoon commented on #185
I've updated gitflow to 1.8.0 and the issue has seem to gone away. Thanks.

[2015-01-29 17:51] #185 closed

[2015-02-04 03:40] #183 closed

[2015-02-04 03:44] petervanderdoes opened #186 "Missing 'git flow release abandon' command"
Quote from original report by @kretes at nvie/gitflow#358

[2015-02-10 17:07] TAGC commented on #175
Hello, sorry that it's been a while. I haven't had time to test this out at work yet, but I've noticed Git Bash hanging for other things unrelated to Git Flow e.g. 'git commit --amend'. It's probably just a Windows thing.

[2015-02-10 17:13] gabeio commented on #175
@TAGC git can hang when you are running very low on ram with a very large repository because it has most of if not all of the repository in ram there's a few suggestions [here about large files](http://stackoverflow.com/questions/3055506/git-is-very-very-slow-when-tracking-large-binary-files) but they are mostly focusing on binary files. not sure if this will help but it might.

[2015-02-10 17:43] TAGC commented on #175
@gabeio The computer at work has a decent amount of RAM (I think 4 GB) and the repositories I'm working with are pretty small. I noticed the 'git commit --amend' thing hang in a repository populated mainly with LabVIEW files which are each only a few dozen KB in size I think. Other Git commands run fine.

[2015-02-10 18:29] gabeio commented on #175
huh weird :/ I guess not. just thought I would put it out there anyway. good luck finding the issue :smile:
Cheers!

[2015-02-10 19:34] petervanderdoes commented on #175
@TAGC how many files are in the commit?

[2015-02-10 19:36] TAGC commented on #175
@petervanderdoes I'll check tomorrow when I get to work, but I would estimate between 30-60.

[2015-02-11 09:50] TAGC commented on #175
@petervanderdoes

There are 68 files versioned in my HEAD commit.

The total size of my `.git` repository is 4.34 Mb.

I also get this information:

[code]

[2015-02-11 17:52] petervanderdoes commented on #175
Not a real problem size wise then. I don't know Labview  but if you search for "Labview git" you do get quiet a few hits where people change their environment settings for that combination.

I think it's more a combination of git and Labview than git-flow and Labview to be honest.

[2015-02-11 18:38] TAGC commented on #175
@petervanderdoes I can't say for sure but I think I was getting this problem with Java applications as well. I vaguely remember trying to to 'git commit --amend' for a Java project, Git Bash hanging, so I did it instead through the EGit plugin for Eclipse.

[2015-02-17 11:18] TAGC commented on #175
@petervanderdoes Quick update. I've mostly finished developing the LabVIEW project, but I wanted to break the project down into separate parts so that I can treat each part as an individual service and use them in other projects.

Since the functionality's already there, it meant I could quickly copy the files over, add a small amount of testing for good measure and call that 'version 1.0' of that

[2015-02-17 13:04] petervanderdoes commented on #175
Thanks for the update:
1. The problem with `binary operator expected`.
What shell are you running and which version?

I'm wondering, after you kill the process, is everything completed? Is the release branch deleted, is the master and develop branch the same?

[2015-02-17 14:04] TAGC commented on #175
I'm using the Git Bash shell. I'm not which version.

One thing worth mentioning - I'm running Git Bash through the Mintty terminal emulator.

As a test, I tried creating two copies of the the project directory (which had a very small uncommitted change). I opened up two instances of Git Bash - one running through Mintty and one running through Window's native console. I made it so that each insta

[2015-02-17 14:34] petervanderdoes commented on #175
This might be the problem:
You can't run vim in a mintty console, it will hang.

https://code.google.com/p/mintty/issues/detail?id=230

[2015-02-17 15:01] TAGC commented on #175
Yes, that seems to be it. Thanks for all your help. I think this issue can be closed now.

![](http://puu.sh/g0USk/11d1f31459.png)

[2015-02-17 15:51] kvervo commented on #156
+1

[2015-02-17 16:42] #175 closed

[2015-02-23 06:29] AlexKorovyansky opened #187 "Uninstall instructions on wiki"
I have 1.7.0 version of the tool on my machine, atm I want to update to 1.8.0, but I'm not sure what's right way to do it on OS X after reading the docs.

I think the most straight forward way is to uninstall current version and install new one. Second step is very clear, but I don't see wiki page or any other comments about step1.

What's the correct way to do it?

[2015-02-23 06:48] AlexKorovyansky commented on #187
Does it correct?
`brew install git-flow-avh` install git flow
`brew upgrade git-flow-avh` update to last version
`brew uninstall git-flow-avh` uninstall git flow

[2015-02-23 16:27] petervanderdoes commented on #187
I personally have no experience with `brew` so I couldn't tell you how to upgrade using `brew`. If you do it manually you can just overwrite. No files have been deleted.

[2015-02-25 18:08] pietdaniel opened #188 "Allow For Custom Commit Messages for Release"
### Custom Commit Messages

I use git flow to deploy to a production server. This creates three branch merge (release, develop, and master) which kicks off three continuous integration jobs with circle ci. It would be nice to specify a custom commit message on the release and develop branches in order to insert the "[ci skip]" flag which would prevent two unnecessary build jobs.

Something along t

[2015-02-26 18:06] jpetereit opened #189 "Installation instructions"
The wiki does not mention the Ubuntu package `git-flow` which seems to be this AVH edition since Trusty: http://packages.ubuntu.com/search?keywords=git-flow

Is this deliberately left out? Is there a reason for not using `apt-get install git-flow`? If not, it might be nice to add this to the wiki's installation instructions. If yes, a note why not to use the package might be interesting as well.

[2015-02-27 15:16] petervanderdoes commented on #189
I never knew my version was packaged in Ubuntu until a few months ago. There is no reason not to use the Ubuntu version, besides that sometimes Ubuntu lacks updates, but I'll add it to the wiki.

[2015-02-27 15:16] #189 closed

[2015-03-03 06:44] conf opened #190 "binary operator expected (git-flow-common)"
I keep getting these errors on `git flow feature start`:
[code]
My environment: OS X 10.10.2 (Yosemite)
[code]
`git-flow-avh` was installed via `brew install git-flow-avh`.

So, the errors occur on [this](https://github.com/petervanderdoes/gitflow/blob/develop/gitflow-common#L715) and [this](https://github.com/petervanderdoes/gitflow/blob/develop/gitflow-common#L739) line.

It seems simple change

[2015-03-03 11:08] mrt181 opened #191 "Cygwin installation instructions from wiki do not work"
When I follow the instructions I get this nothing more:

[code]

When i first download the script and then start the script it works

[code]

[2015-03-05 18:11] d1egoaz commented on #160
+1 squash

[2015-03-05 18:18] d1egoaz commented on #160
Sorry, this option is already implemented in ```1.8.0 (AVH Edition)```
I just saw [https://github.com/nvie/gitflow/pull/210](https://github.com/nvie/gitflow/pull/210)

Testing:  ```git flow feature finish test -S```
And I got:
[code]
:+1:

[2015-03-05 21:43] tomschr opened #193 "RFC: How to reopen a release branch (FAQ)"
Let's assume, I create a release branch, do some commits and finish it. However, I realize, I had better kept it to work further on the branch. How can I do that?

Maybe this could be covered/answered in the FAQ section.

[2015-03-11 15:16] spiroski opened #195 "Starting hotfix with dirty develop"
Many times, I forget to start a hotfix before I start working on the problem.

Then when trying to start a hotfix I get:
`Fatal: Working tree contains unstaged changes. Aborting.`

The easiest solution for me is to:
- git stash
- git flow hotfix start
- git stash apply

Now we as developers want to save as much time as possible, so for this scenario maybe we could add option to `git flow hotfix st

[2015-03-31 16:06] gisphm opened #197 "error when executing "git flow feature list""
I am using the latest development version of git-flow. I found that when I executed `git flow feature list` in a git repository, it showed error message as below:

[code]

I am using `git-2.3.4`(compiled by myself) on my ubuntu trusty virtual machine (it is created by vagrant box from [ubuntu cloud-images][1]). The shell I am using is `zsh 5.0.2`. And wherever I install git and git-flow (in /usr/l

[2015-03-31 18:12] petervanderdoes commented on #197
It has nothing to do with git-2.3.4, I run this myself and have no problems.

It almost seems like the file gt-flow-feature is corrupt. Can you copy past the first 39 line from that file as they are in your VM?

[2015-04-01 02:27] gisphm commented on #197
I just copy the git-flow-feature file in this [gist][1].
[1]: https://gist.github.com/gisphm/fccc8655da6f5863a877

[2015-04-01 02:47] petervanderdoes commented on #197
I don't see anything why you would get an error.
And it's only with `git flow feature list` you get the error?

[2015-04-01 02:50] gisphm commented on #197
Not only `git flow feature list`, but also `git flow feature create` will run into error.

I just removed the local repo, re-clone a new one from github repo and reinstall git-flow. And I find that it works and shows nothing wrong. It seems so wierd.

[2015-04-01 03:24] talios commented on #197
For reference - just updated `master@HEAD` here on OS/X and `git flow feature list` works fine for me using the latest git version.

[2015-04-01 13:12] petervanderdoes commented on #197
@gisphm Can you run `DEBUG=yes git flow feature list 2> debug.txt` and show the contents of debug.txt?

[2015-04-02 16:05] gisphm commented on #197
I am sorry for seeing the message too late. This is [`debug.txt`][1] after running `DEBUG=yes git flow feature list 2> debug.txt`.
[1]: https://gist.github.com/gisphm/eca60d058fe9b2eebff9

[2015-04-02 20:21] petervanderdoes commented on #197
Based on the debug.txt I don;t see anything wrong.
You are running the command (https://gist.github.com/gisphm/eca60d058fe9b2eebff9#file-debug-txt-L313)
It works and says there are no feature branches. (https://gist.github.com/gisphm/eca60d058fe9b2eebff9#file-debug-txt-L846)
I have no clue why you get the error messages but it does not seem to be related to git-flow.

Did you install git-flow manu

[2015-04-08 19:22] conf commented on #190
It seems this issue has been fixed in 7a85f467d0b1e5bbca42702e06e116e3ca834e84. Sorry for bothering.
@petervanderdoes btw, when do you plan to release new version (with this fix)?

[2015-04-13 14:50] djsmith commented on #176
There is one more function that needs quotes; run_filter_hook() on line 687.

[2015-04-14 10:19] tomschr opened #198 "RFC: Give helpful Instructions after a failed release finish"
Lets assume you did a `git flow release finish` in your release branch. We further assume, the merge into master went well. However, in develop you get a conflict. In that case, `git flow` fails with the error message `There were merge conflicts.`

Unfortunately, the user is left in the middle of nowhere: the merge is applied into master, but not in develop. The release branch is still there and n

[2015-04-14 11:28] havvg commented on #198
I'm always using the 2. one, it just works.

[2015-04-14 11:49] tomschr commented on #198
Thanks @havvg probably I made something wrong.
In my case it seems that I had conflicting changes in develop and my release branch (don't ask me why, it shouldn't).

In any case, git flow should tell the user what to do next.

[2015-04-21 08:58] derpue opened #199 "Allow to specificate the tag name at git flow (hotfix|release) finish"
Currently it uses the name given at `git flow (hotfix|release) start` as tag name during the finish stage, thus the branch name and the tag have to be the same name.

But we like to have speaking names for the branches, but only a short version for the tag. So we would like to have something like:
`git flow hotfix start SomeNastyBug` to get branch hotfix/SomeNastyBug
and later finish it with somet

[2015-04-25 21:57] baby-gnu commented on #143
-1

And I think this is not desirable.

All hotfix are not equals.

You have several hotfix branches and you are testing them to see if they play well together.

Suddenly, you find a security bug, you want to postpone all the other hotfixes to pass this one.

Regards.

[2015-05-06 08:22] thedrow opened #201 "Git Flow doesn't push after merge causing pull requests to close"
Our flow requires us to open a pull request for each branch we merge to develop or master.
Git flow doesn't push after merging which causes the pull request to be closed instead of being marked as merged.
http://stackoverflow.com/questions/24418711/git-flow-github-pull-request-isnt-working-as-expected is a good explanation of what's going on.

[2015-05-06 08:24] thedrow opened #202 "Release a new version"
There has been some activity after the latest 1.8.0 release.
It's worth releasing a new version.

[2015-05-06 16:23] gmedina commented on #201
there is a way to get around this for now
[code]

[2015-05-06 16:39] gmedina opened #203 "git flow hotfix publish"
I can't seen to publish a hotfix (for PR purposes). It complains about the upstream being gone.

[code]

[2015-05-07 08:47] thedrow commented on #201
Thanks for the workaround.

[2015-05-11 09:46] gsklee opened #204 "Rename the project to Gitflow2"
Hi @petervanderdoes, I discovered your fork from nvie/gitflow/issues/285. Checked around a bit and it appeared to me that [your contributions](https://github.com/petervanderdoes/gitflow/graphs/contributors) have already far outweighed that of the original author. Since the original project has gone dormant for nearly 3 years, and that Ubuntu is using your fork in their official repo, I think it'd

[2015-05-11 16:59] aiman-alsari commented on #173
Hi, I've just bumped into the same issue - git flow release start <release_name> <base> *always* starts the release from HEAD of <base>. In some cases it would be more suitable to provide a tag or a commit hash to release from.

Interestingly, this only seems to be an issue with this fork (which I'm only using because it comes with Ubuntu). The original nvie repo, and all documentation around it,

[2015-05-19 20:56] petervanderdoes commented on #173
Been short on time for a while, I hope to get to this in a few days.

[2015-05-21 08:37] dmitryd commented on #173
@aiman-alsari

True. I use nvie's version locally and I have Peter's version at work. Local version works, at work it does not.

[2015-05-21 08:38] dmitryd commented on #173
Oh, and it is really helpful to make a release from a tag or commit id. We generally need to make it from the commit id because this is what we have on stage for the customer to test. So I have to keep a copy of the git-flow where it works.

[2015-05-22 13:07] marcinant commented on #128
@petervanderdoes

Why? Do you want to replace `checkout` with another command?
This command is very useful and I don't see any reason to drop it.

[2015-05-22 13:21] tomschr commented on #198
@petervanderdoes What do you think?

[2015-05-22 15:25] petervanderdoes commented on #198
I suggest 2 as well, although I have done 3 many times as well because I forgot I could do 2 LOL.

But yes it should be more clear what to do next, similar to the `feature finish`

[2015-05-26 11:38] nmrony commented on #204
Can I propose `gitflow-avh`?

[2015-06-01 01:42] scottwarren commented on #203
yep I get this too, but it's only on initial publish sometimes. Once I publish again it makes a new branch

output:
[code]

Git Flow Version:
[code]
Git Version:
[code]

[2015-06-01 01:59] dane-harnett commented on #203
Got the same thing
[code]

[2015-06-09 10:57] egorse commented on #130
+1

[2015-06-12 17:03] greenrd opened #205 "Fast-forward merges are used, which lose history"
When I finish a feature, a fast-forward merge into the develop branch is done if possible. This means that it is no longer possible to know which feature branch introduced a commit, unless that information is manually duplicated in the commits.

The original git-flow repo does not have this behaviour.

[2015-06-15 14:56] jabbett commented on #160
@d1egoaz I think the request is for `hotfix finish` to have the same `-S` squash option as `feature finish`. I'd very much like this, too.

[2015-06-21 18:39] vmrob opened #207 "Modify GitHub installation instructions for Windows to include correct repository."
Currently, the wiki [installation instructions](https://github.com/petervanderdoes/gitflow/wiki/Installing-on-Windows) call for

    C:\GitHub> git clone --recursive git://github.com/nvie/gitflow.git

when I think it should be

    C:\GitHub> git clone --recursive git://github.com/petervanderdoes/gitflow.git

[2015-06-21 18:57] vmrob commented on #205
While it might not be the original behavior, there are many options you can set on a per-repository basis. Maybe there's even a global config?

Take a look at some of them here:

https://github.com/petervanderdoes/gitflow/wiki/Reference:-Configuration

For your case, you're probably going to want the following:

    git config gitflow.feature.finish.no-ff TRUE

[2015-06-23 15:41] petervanderdoes commented on #207
Thanks, fixed now

[2015-06-23 15:41] #207 closed

[2015-06-23 15:42] petervanderdoes commented on #205
You can do a global setting as well. As per the above example to set it global:

    git config --global gitflow.feature.finish.no-ff TRUE

[2015-06-24 11:18] krlmlr commented on #198
Today I tried but failed to do "2" on a repo of mine -- the tag somehow appears before the final merge of the release branch. I just released a follow-up version.

[2015-06-24 11:21] krlmlr opened #209 "Also show which hooks are called with --showcommands"
This is a cheap way to learn which of the many hooks to implement for which use case. Alternative: Provide new switch `--showhooks`.

[2015-06-25 18:15] dakotahawkins commented on #156
This would be awesome.

[2015-06-30 08:56] nicg-corbas opened #210 "Git for Windows paths are different in 2.x releases"
The msysgit-install.cmd doesn't copy files to the correct location when git for windows 2.x is installed because the .../bin/ directory is not on the path. The files need to be moved to .../usr/bin/ after installation. Perhaps the script could check for the presence of /usr/bin and install there. Happy to submit a patch if you want but I'm not exactly a skilled windows user.

[2015-07-01 03:54] buckley commented on #201
I agree that the default behaviour for this is unexpected, and possibly even dangerous.  Pull requests being marked as closed instead of merged is one thing, but I don't want my remote feature branches deleted before the merge has been pushed to develop.

What if there's a conflict when I try to push develop?  I've got to make sure I don't accidently lose those commits from the feature branch beca

[2015-07-02 20:23] #190 closed

[2015-07-02 21:25] deep-orca commented on #156
+1

[2015-07-20 12:47] sciamannikoo opened #211 "hotfix is rejected because tags already exist."
I'm not sure if this is related to #18 or if it's even a git-flow issue.

Trying to finalize a hotfix, I've got this error:

[code]

The hotfix was *ticket-1846*.

The other branches are in the server and got pulled in the local repo as well, but weren't mine.

One suggestion I got is to use this command: `git config  --global remote.origin.tagopt --no-tags`
But I'm not 100% sure this is the right

[2015-07-20 13:51] sciamannikoo commented on #167
Not working for me:
On Mac OS I should use `git config gitflow.multi-hotfix true` (without "--set", right?): if I run `git config --get gitflow.multi-hotfix` it does return, so it seem this is the right way to set this setting. If I use the "--set" argument I get an error anyway.

So, once this is set, I try to create a new hotfix, but it keeps saying I must close the existing hotfix.

[2015-07-20 13:57] bill-bradley commented on #167
Did you install the latest develop branch, or the default release from brew install?  Be sure to use: brew install git-flow-avh --HEAD

[2015-07-20 14:40] sciamannikoo commented on #167
Default release from brew.

Installed now from HEAD: I'll try as soon as I have other concurrent hotfixes (which is a rare case, I must admit).

[2015-07-20 14:40] sciamannikoo commented on #167
Thanks so far.

[2015-07-21 14:38] sciamannikoo commented on #161
What's the development status of this feature?

How do you suggest to workaround this meanwhile? Manually merging master with the release branch?

[2015-07-22 19:42] srt32 commented on #204
:+1:

[2015-07-24 10:50] raveren commented on #161
This is unbelievable. More than four years without a fix.

https://github.com/nvie/gitflow/issues/177

It's a ticking time bomb, rendering the whole tool useless.

[2015-08-06 09:06] Razrael opened #212 "Release doesn't get merged back to master"
Hello

I need to make releases based on an older commit, so I used something like "git flow release start 1.x tmpReleaseBranch"

If used with this base branch, it will not get merged back to master when using "git flow release finish 1.x", so this has to be done manually.
Since it get merged back if no base is used, I expect this behaviour to be the same when using a base.

[2015-08-17 21:52] WoLpH opened #214 "Add extra push targets to tags (releases) get pushed automatically"
One thing that has bugged me for a bit is that it is very easy to forget to push tags when pushing your commits. I know that newer git versions have made this easier but it would still be nice if git-flow automatically fixed this as well.

It's fairly easy to do by automatically adding extra push targets to the remote so you get something along the lines of:
[code]

[2015-08-20 13:25] viniciusmelquiades commented on #210
This seems a little more complex than that.
Git v2.x seems to use both the `/cmd` and the `/usr/bin`. If I move `git-flow-*` and `getopt.exe` files i either of those folder, it "works". Git flow commands are understood.

However, this is what happened when I tried to run git-flow
[code]
This seems to happen for every command that tries to read the values from the git config (that's where I assume

[2015-08-20 15:05] bill-bradley commented on #202
The multi-hotfix option is a feature I'd like in the release.

[2015-08-21 12:25] Shumkov commented on #160
:+1:

[2015-08-21 19:23] bill-bradley commented on #210
As a workaround, if you install the 32 bit version of git 2.5 instead of the 64 bit.  And then run:
`msysgit-install.cmd 'C:\Program Files (x86)\Git\usr'`, you should avoid the above errors.

[2015-08-23 17:35] krlmlr opened #215 "Configure name of remote in git flow init"
The name of the remote can be [configured](https://github.com/petervanderdoes/gitflow/blob/66ec00764845bd2d60873b76ab35d202dad7d222/gitflow-common#L305), but this is not obvious. Should this be asked in `git flow init`?

[2015-08-25 18:40] jakobehn commented on #210
Thanks for reporting this guys. I have made a change to how the GitFlow extension locates the installation path of msys-git. I have tried it on a couple of machines with v2.5 installed.
The experience after upgrading the extension will be that you are prompted to install GitFlow again, since the files need to be copied to the usr/bin location.
I would  be great to have some extra tests for this ve

[2015-08-29 16:16] jerheff commented on #214
+1

[2015-09-01 01:41] glennmatthews commented on #214
:+1:

[2015-09-01 17:59] jawshooah commented on #199
:+1: Hotfix branches should be named based on what they're fixing.

[2015-09-13 20:28] petervanderdoes commented on #156
Took a while but it's implemented per commit aefdf5412673c85f23f9f4542e3f6c3a4b42b82f version 1.9.0-dev.48

[2015-09-13 20:28] #156 closed

[2015-09-13 20:33] petervanderdoes commented on #212
The reason for not merging back into master is because I can't determine where the base originates from.
If you maintain multiple versions of your software a release could be made from a support branch and should not be merged into the master branch as that would be a totally different version.

[2015-09-13 20:34] #212 closed

[2015-09-13 22:06] petervanderdoes commented on #210
I'll see what I can do. Git for Windows moved to msys2, I need to install the portable version to see what I can do to fix this.

[2015-09-13 22:38] #205 closed

[2015-09-13 23:07] petervanderdoes commented on #188
You can utilize the the hook: filter-flow-release-finish-tag-message

[2015-09-14 01:28] petervanderdoes commented on #160
Implemented in commit 5f2faafc9e0c356a12c55bb363a4dc7230c092c8 Version 1.9.0-dev.53

[2015-09-14 01:28] #160 closed

[2015-09-14 02:05] petervanderdoes commented on #204
Renamed to gitflow-avh

[2015-09-14 02:05] #204 closed

[2015-09-14 04:39] gsklee commented on #204
@petervanderdoes Why not Gitflow 2? Gitflow-AVH sounds more like a spinoff than a successor, and actually I don't even know what AVH stands for...

[2015-09-14 06:40] tomschr commented on #202
Just as a reminder: Also document #156 as a reference in the Wiki. :smile:

[2015-09-14 12:22] ByScripts commented on #199
:+1:

But it would be great if the branch name argument was still optional (`git flow hotfix finish` without argument uses the current branch name).

Maybe using a dot? (but visually, it's not really obvious)

`git flow hotfix finish . 2.4.1`

Or a double-dash?

`git flow hotfix finish -- 2.4.1`

Or something else...

On the other hand, since branches are deleted once merged, and a hotfix is meant

[2015-09-14 16:46] rcdailey opened #216 "Submodule Support"
I feel like I'm touching on a subject that has been discussed before, however I haven't seen anything in the list of closed issues about it.

Is it possible to automate submodules via gitflow scripts? For example, when branching for a release, the script should also branch the submodule. Likewise when hotfixing or merging in release branches into the master branch.

Or is it just better to repeat

[2015-09-15 12:45] rcdailey opened #217 "Git for Windows 2.5: _flags_fatal: command not found"
Notice the below output.

[code]

It seems this is related to symlinks. All I'm doing is storing a clone of your repository and in my `.bashrc` I add the root of your clone to my PATH. Is there more I need to do to get this working or is this truly a bug?

[2015-09-15 12:57] bill-bradley commented on #217
This is known, there's a work around in #210

[2015-09-15 15:39] kwuser opened #218 "1.8.0 hacked?"
You sha256sum changed from 8239131b8dac160d7e929eab376fa14de44a55cbd5c5545e0ad4464d3a57adef

to

350665a9de7a9fe58ab82df5ef70c4e6c4f95bf844e30c23e2f3486396727511

also see as a reference: https://github.com/Homebrew/homebrew/blob/master/Library/Formula/git-flow-avh.rb#L5

As i suggest you did not "re release 1.8.0" it could have been modified?

[2015-09-15 20:28] petervanderdoes commented on #218
Interesting, I just did a comparison between the .tar.gz in the brew file and a archive created from my local repository and there is no difference.

I can think of one possibility for this to have happened.
- The archive was recreated after renaming the project and that changed the SHA.

[2015-09-15 20:30] #217 closed

[2015-09-15 20:32] petervanderdoes commented on #216
To be honest, I don't know. I try to avoid submodules and have succeeded so far.
I'll let others chime in on that one.

[2015-09-15 20:33] petervanderdoes commented on #202
Darn Wiki I always forget :)

[2015-09-15 20:36] petervanderdoes commented on #204
Thanks @mgreensmith for updating the Homebrew formula.

[2015-09-15 21:19] rcdailey commented on #216
Avoiding submodules becomes difficult when you want to accomplish both of the below tasks.

1. Have a common code base shared between multiple projects or applications
2. Keep your repository as small as possible and have separation of concerns

Git has no sparse checkouts and while yes adding submodules does add workflow complexity, the benefits outweigh the productivity hit. Regardless of our pe

[2015-09-16 17:38] adamhadani opened #219 "Migration guide from vanilla gitflow"
Hey,
very excited to see this fork so active! We've been using vanilla gitflow and while we love the workflow and the basic CLI functionality, it's very clear that staleness has become a big issue.
For the sake of users like us and many others who already use gitflow and would like to migrate to the gitflow-avh edition, I suggest adding a small 'migration guide' section to the Wiki.
Some considera

[2015-09-16 17:43] allisonfong commented on #219
:+1:

[2015-09-16 17:43] srt32 commented on #219
:+1:

[2015-09-18 17:29] kevinawoo opened #220 "git flow log options error"
I'm having trouble with the command
`git flow log -u`

output:
[code]

[2015-09-20 11:25] dhilgarth opened #221 "Info: Chocolatey package"
For the Windows folks in here, I created a Chocolatey package:
https://chocolatey.org/packages/gitflow-avh

The source code is here: https://github.com/dhilgarth/chocolatey-packages/tree/master/manual/gitflow-avh.

[2015-09-24 21:00] petervanderdoes commented on #221
Awesome. Never heard of Chocolatey before.
Could you do a quick write up on how to install using Chocolatey?

[2015-09-24 21:06] dhilgarth commented on #221
Sure. Once you have Chocolatey installed, start an elevated command prompt and execute.

    cinst -y gitflow-avh --version 0.0.0

That's it :)  It will also install the bash completion from https://github.com/petervanderdoes/git-flow-completion
Through its package dependencies, it pulls down the required unix tool getopt and its dependencies.

Unfortunately, the package is not yet approved, becau

[2015-09-25 20:10] silverkorn opened #222 "Feature proposal - Allow "develop" as a supporting branch (prefix)"
Greetings,

Do you think that offering the possibility to set the develop branch as a set of supporting branch would be good?

Here's my context:
We have a team of developers working on their personal instance of the `develop` branch but by permitting to create a branch per developer like `develop/username`, other developers could give an hand to this one during a possible "dead end" by sharing it

[2015-09-28 09:44] denarie opened #223 "Installscript does not install gitflow-bugfix"
In the gitflow-installer.sh script in the list of files to install on line 40:
SCRIPT_FILES the gitflow-bugfix script is missing.

I installed it manually by copying it to /usr/local/bin.

Please add the file to SCRIPT_FILES.
Thank you!

[2015-09-28 17:52] silverkorn commented on #202
+1 for a new release soon.

By the way, Git-For-Windows maintainer might prefer this Git-flow version instead of the Nvie's one since it is still maintained.
I would then create a PR to add it in their [MSYS2 packages](https://github.com/git-for-windows/MSYS2-packages) as an updated alternative and potentially as a the main distributed Git-flow.

This said, are Git Flow AVH Edition commands compat

[2015-09-28 18:20] #218 closed

[2015-09-28 18:22] silverkorn commented on #202
Nevermind, seems that someone is in charge: https://github.com/git-for-windows/git/issues/416

[2015-09-28 18:25] #188 closed

[2015-09-28 18:31] petervanderdoes commented on #219
1, Yes :) It should run on any flavor Linux, OSX and Windows.
2. Incompatibilities: If you move to gitflow AVH you can't use the original anymore. This is not entirely true but why would you go back :) Everything the original gitflow does, this version does plus more.
3. AVH: A Virtual Home. It's a website I started a long time ago, mostly to talk about linux kernels and writing WordPress plugins.

[2015-09-28 18:38] #223 closed

[2015-09-28 21:43] adamhadani commented on #219
thanks @petervanderdoes . any particular steps to install over old gitflow? e.g do i need to uninstall first / any known clashes if i just go ahead and install gitflow-avh while already installed gitflow via Homebrew?

[2015-09-29 00:48] petervanderdoes commented on #219
I personally would uninstall the old git-flow before installing the AVH version. And that's just because I don't have a working Mac to see what happens when you just install the AVH version.

[2015-09-29 13:56] petervanderdoes commented on #222
It makes sense, but isn't that what you can use the feature branch for? I'm assuming each developer has a particular part of the development they are responsible for.

[2015-09-29 14:07] petervanderdoes commented on #216
I don't think you should ever work on a submodule from within another application. If the submodule needs to be changed you need to work on this repository by itself and then update the submodule in your application repository. Changing a submodule has a bigger impact than just the application you are working on.

So the question is, if you update the submodule,  `git submodule update`, in a featu

[2015-09-29 14:59] silverkorn commented on #222
Indeed, I see your point and this makes sense.

But considering an environment where the developer doesn't have the local tools to test his progressions (Web/Cache/Queues services for example), a flow could be applied via a hook to create a remote virtual host dedicated to this user's development environment.

---

### Exemple
- Pushing to remote __develop/silverkorn__ -> hook creates if not exist

[2015-09-29 16:05] rcdailey commented on #216
This is a bigger issue than simply updating the submodule. When I hotfix a release, and if by chance changes to the submodule are required for the hotfix, I want a hotfix branch to be created in the submodule repository, based on the commit tied to the hotfix branch in the parent repository. This will allow modifications to the correct revision in the submodule without interruptions from other mai

[2015-09-29 16:19] jawshooah commented on #222
What you describe makes sense, but I don't believe it fits into the philosophy of git-flow. Having a branch per-developer rather than per-feature or per-bugfix makes it much more difficult to isolate commits related to a particular feature or bugfix.

Imagine that a developer is working on several features at once, all on their own `develop/myname` branch. There's no guarantee that commits relatin

[2015-09-29 19:07] silverkorn commented on #222
@jawshooah

Actually, the suggestion was to add it along with the per-feature and per-bugfix.

The concept is generally to allow a remote preview of one or more feature/bugfix in an isolated environment assigned to a user where the tools for execution exists. So the `develop/username` should generally merge those into itself then later into the `develop/master`.

But as you said, I haven't played

[2015-09-29 20:37] petervanderdoes commented on #216
git-flow is based on branches, not SHA, so if you want to git-flow a submodule you have to do a branch, which will work for submodules. Now you have changed the branch, you push it to a shared repository, I'm assuming the submodule is located somewhere shareable. When somebody else, in another project, runs a git submodule update, it will pull in your changes and that can potentially be a problem.

[2015-10-05 20:26] allancarter commented on #216
We are using submodules too and I'd like git flow to handle submodules.

Regarding whether git submodule update in other projects would get your changes, the answer is no. Not unless they go into the submodule and pull the latest version. If they are working on the develop branch then the super-project and all submodules should be on the same branch: develop.

It would be nice to have a --recurse-

[2015-10-05 20:37] allancarter opened #224 "feature finish fails if no changes to merge"
If I finish a branch with no changes I get the following error:

Switched to branch 'develop'
Your branch is up-to-date with 'origin/develop'.
 (nothing to squash)Already up-to-date.
On branch develop
Your branch is up-to-date with 'origin/develop'.
nothing to commit, working directory clean

There were merge conflicts. To resolve the merge conflict manually, use:
    git mergetool
    git commit

[2015-10-07 04:37] stefancarlton commented on #173
I've just ran into this problem to. I resolved it by creating a temporary local branch and then releasing from there, which whilst messy, works. For future me...

[code]

[2015-10-14 16:49] cdvv7788 commented on #222
Is not the whole issue solved by changing your prefixes to feature instead of develop?

[2015-10-14 23:28] silverkorn commented on #222
Somehow I guess it could but it was more in consideration that the develop prefix could be the remote "playground/testground" of a developer mixing features and/or bugs before affecting the main develop branch to avoid potential misleading problems of 2 (or more) different developers' merges or a failed presentation of what's should be currently working in development due to tests.

I will give it

[2015-10-25 14:48] crd opened #225 "Wiki: References to msysGit should be replaced with Git for Windows"
It would also be worth pointing out in [Installing-to-Windows.md](https://github.com/petervanderdoes/gitflow-avh/wiki/Installing-on-Windows) that as of version 2.6.0, gitflow-avh comes preinstalled!

[2015-10-25 16:40] crd commented on #225
It's too bad that we can't create pull requests for wiki pages. Github let me down.

[2015-10-25 23:45] linquize commented on #225
In general, Github allows to edit wiki directly on web interface.
However, there is no permission granted for public to edit this wiki.

[2015-10-29 16:20] rcdailey opened #226 "Parallel hotfix releases"
This is a deviation from gitflow, but we do this at my day job because we need the ability to hotfix any release in the field without introducing features.

This means we release directly on the `hotfix` branch. The SHA1 is tagged on the hotfix branch and we merge the hotfix back to `develop` _only_ (we do not merge it to `master`).

Would it be acceptable to add a feature to your scripts to allow

[2015-10-29 16:32] rcdailey opened #227 "What does backmerge do in hotfix finish?"
There is a `-b` option, but I'm not sure what a back-merge is. Can you explain this in more detail? Thanks.

[2015-11-02 23:22] b-zaar opened #229 "BSD installation instructions"
The wiki page for BSD installation says to use `make install` but the latest version of FreeBSD needs to use `gmake install` because of the `HOOK_FILES=$(wildcard hooks/*)` line.

[2015-11-13 07:41] lgiordani commented on #224
@allancarter I can't reproduce it. Are you using the last gitflow version? May you please run the following bash code and tell if and where it fails?

[code]

That "nothing to squash" is not what I expected. May you perhaps better describe your setup with submodules?

[2015-11-19 09:35] hameno opened #230 "Feature finish does not delete remote branch when "fetch.prune" is set to true"
I'm on ```git version 2.6.3.windows.1``` with ```1.9.1 (AVH Edition)``` and "fetch.prune" set to true (to automatically prune stale branches) feature finish does not delete the remote feature branch anymore.

[2015-11-19 18:15] jbotuckBH commented on #173
I just ran into this problem as well. My workaround was to create the release branch with the right naming conventions manually. git flow release finish RELEASE worked as expected afterwards

[2015-11-19 19:57] petervanderdoes commented on #230
When did you encounter the problem, after upgrading git-flow or after upgrading git?

[2015-11-19 19:58] hameno commented on #230
Well I installed git for windows which ships with git flow, but a dev version, thought it was a bug and updated to stable, behavior is still the same.

[2015-11-19 20:05] #229 closed

[2015-11-19 20:07] petervanderdoes commented on #230
Okay.

So currently you don't have the local branch but you do have the remote branch?

[2015-11-19 20:12] hameno commented on #230
Currently? No,  I fixed it by manually deleting the branch.  But it can be reproduced.
1. Set fetch.prune to true
2. Create feature
3. Commit
4. Push branch
5. Finish feature
6. Remote branch still existing

[2015-11-19 20:21] petervanderdoes commented on #230
I'll look into it, got to setup a test repo.

[2015-11-20 07:07] daniel-marshall commented on #230
Is it possible to introduce a setting such that the default value of the git feature finish command is to not delete the remote branch? My team are looking to use this tool but want to ensure that shared feature branches are not removed from the remote repo.

[2015-11-20 07:08] hameno commented on #230
@daniel-marshall https://github.com/petervanderdoes/gitflow-avh/wiki/Reference:-Configuration

[2015-11-20 08:44] daniel-marshall commented on #230
Ahh thanks. Probably should have found that before asking.

[2015-11-20 12:52] petervanderdoes commented on #230
I know what the problem is with the fetch.prune, now I just have to figure out the solution.

[2015-11-23 22:33] rosenbergj opened #231 "feature publish does not respect autosetuprebase"
I want my pulls to --rebase by default. I have this set up in my global config as autosetuprebase=always in my [branch] section. This causes rebase = true to be put in my repo's .git/config in the section for that branch when it is created as a tracking branch or becomes a tracking branch.

When I push a branch normally (i.e. not with git flow publish), by running "git push -u origin feature/branc

[2015-11-24 13:02] silashansen commented on #128
For windows users without bash and autocomplete, `checkout` is useful.

[2015-12-05 11:25] sataris opened #234 "Ubuntu Installs Old Version"
I'm not sure if this is the correct place for this. but running sudo apt-get install git-flow installs version 1.8.0 rather than 1.9.1

Of course I can install it manually but i'd rather not go down that path.

[2015-12-05 18:49] petervanderdoes commented on #234
I do not maintain the PPA for Ubuntu. If I recall correctly I email the maintainer to notify of the updated version.

The official PPA can be found here: https://launchpad.net/ubuntu/+source/git-flow

[2015-12-05 18:49] #234 closed

[2015-12-06 22:42] danielcompton opened #235 "Fast forward master branch (if possible) when releasing"
We use shell scripts wrapping git flow release for our release processes. If the developer doing the release hasn't kept his local master pointing to the origin master, then `git flow release finish` will fail with the message

[code]

If master can be fast forwarded, does it make sense to have this done so (either automatically or with a command line option?)

[2015-12-12 14:05] krlmlr commented on #140
This is now orthogonal to the merge.ff option, which may or may not be what is desired. Anyway, thanks for implementing the option.

[2015-12-23 09:17] schrepfler opened #236 "Missing comparison document"
In order to understand better of the pro's and differences of avh it would be good if there's a markdown document highlighting the differences and added features to avh.

[2015-12-26 06:29] par2 opened #237 "Strange folder in repository, post merge"
I was unsure whenever [this](https://stackoverflow.com/questions/33440103/strange-folder-showing-up-when-using-git-flow-on-windows) issue got posted/resolved yet.  I get a similar folder after using `mergetools vimdiff` to resolve conflicts.  I also am using 1.9.0-dev.59 (AVH Edition).

[2016-01-07 00:00] WoLpH commented on #214
@petervanderdoes any chance you could take a look at this?

[2016-01-09 19:28] petervanderdoes commented on #214
I'll have a look in the next few days

[2016-01-11 23:39] gabrielpeixoto commented on #210
I am using git on version 1.9.5.

Any news?

[2016-01-12 11:47] viniciusmelquiades commented on #210
I guess everyone forgot about this issue. I got it working for a while now.

I'm using git version `2.7.0.windows.1`, but it was working with earlier versions.

All I did was get the latest commits of this repository, navigated to the `contrib` folder and ran the command (I used powershell, but I think you can use anything) :
[code]

The only difference in the command I ran and the command `.\msys

[2016-01-12 12:09] HaveF commented on #210
@viniciusmelquiades but the error is still there...

[code]

[2016-01-12 12:15] HaveF commented on #210
after delete the gitflow things under `C:/Program Files/Git/mingw64/bin/`, the error is still there:

[code]

[2016-01-12 12:26] viniciusmelquiades commented on #210
what's your git installation path, git version, and command you're running?

[2016-01-12 12:30] HaveF commented on #210
[code]
installed at `C:/Program Files/Git/`
reinstall with your command `.\msysgit-install.cmd "C:\Program Files\Git\usr"`

[2016-01-12 18:44] viniciusmelquiades commented on #210
know you got me. If I did something else for mine to work, I don't remember.

What version of gitflow are you using? I did a git pull on this repository today just to test this. I'm using the `master` branch

[2016-01-13 01:05] HaveF commented on #210
I'm using the newest `develop` branch.
So, do all your git-flow commands work fine?
Feel headache about the shell script, or just leave it now....

[2016-01-13 13:23] viniciusmelquiades commented on #210
@HaveF that's right. they just work.
I used to get the same errors you're getting right after I updated to git 2.0 (thanks to Chocolatey for changing to the 64 bit version without notifying me).

Thinking about it, it could be the getopt.exe I'm using. It's just a guess, but it is mentioned in your error message. I don't remember if I used the one provided on git-flow's wiki or if I downloaded som

[2016-01-13 13:42] HaveF commented on #210
@viniciusmelquiades thanks! depends on your comments, I tried getopt.exe (the version list in  https://github.com/nvie/gitflow/wiki/Windows ), it works now. thanks again!

[2016-01-13 21:09] viniciusmelquiades commented on #210
@HaveF I'm glad it worked.

@petervanderdoes Perhaps you can find someone with git for Windows 32 bits and if they're not having trouble I think you can close the issue.

[2016-01-13 23:39] linquize commented on #210
You need to support 3 types of path: git 1.9.5, git 2.x 32-bit,  git 2.x 64-bit

[2016-01-15 08:09] JorisInsign commented on #199
:+1:
We would like to have this option too !

[2016-01-19 08:08] McDoit commented on #156
I have a suggestion for a extension to this functionality
When you finish a bugfix  and have a active release, I think it would be a good idea if the bugfix would also get merged into the release.
As you cant start a hotfix for it, nor restart the release with only that fix in a simple way.

Any comments on that?

[2016-01-19 19:13] petervanderdoes commented on #156
I guess it would make sense in certain situations. A small problem would be if you had multiple release branches.
If it was to be implemented it would be with a parameter, something like:

    git flow bugfix finish --release <name>

Of course you can always start a feature or bugfix branch from the release branch as well.

[2016-01-19 23:24] McDoit opened #238 "Adjustment of bugfix branch to behave like hotfix"
I have a suggestion for a extension to the functionality of bugfixes and to make them differ from feature branches.
When you finish a bugfix and have a active release, I think it would be a good idea if the bugfix would also get merged into the release.
As you cant start a hotfix for it, nor restart the release with only that fix in a simple way.

This way a bugfix acts like a hotfix, but between

[2016-01-22 09:32] tzewangdorje commented on #199
This caught us out too at first. We would also like to use a friendly feature branch name during development and then tag v1.4.3 etc when we finish the hotfix.

[2016-01-27 14:26] buckett opened #239 "Installation (OSX) without post installation setup gives warnings"
I did a `brew install git-flow-avh` (installed 1.9.1) on OSX and afterwards running the `git flow ...` command would get warnings output.

    flags:ERROR short flag required for (showcommands) on this platform
    flags:ERROR short flag required for (local) on this platform
    flags:ERROR short flag required for (global) on this platform
    flags:ERROR short flag required for (system) on this p

[2016-02-09 18:56] jameskyle opened #241 "[gitflow-avh 1.9.1] git flow release does not provide a consistent history across branches"
After a git flow release is closed, the develop and master histories are not the same.

For example, here is the history for the master branch after a release:

    ceb57b2 (HEAD -> master, tag: 0.03, origin/master) Merge branch 'release/0.03' [James Kyle]
    9ecd10d Changed repository path to att-innovate [James Kyle]

And here is the develop branch

    a98d289 (HEAD -> develop, origin/develop)

[2016-02-10 19:53] petervanderdoes commented on #241
After a release the master branch is tagged.
To account for `git describe` we merge the tag instead of master branch in develop.

Now the thing is, I just checked manually and if I merge master instead of tag, git describe still works. I'm not sure why there was a need to merge the tag instead of the master at the time this was implemented.
It could be it was never needed and it's just remains fro

[2016-02-12 19:07] jameskyle commented on #241
Thank you for the prompt response!

I see how the flow works with the merges, but the issue is that at the end of a release the different commit lines (develop/master/most recent tag) should all converge to a single HEAD. If they're not, then various git managers or sites like gitlab, bitbucket, or github will see the branches as having diverged and requiring a pull request to bring them back in s

[2016-02-12 19:18] cdvv7788 commented on #241
The extra commit makes sense to me. Once you start a release, the develop branch will diverge from the release process and requires that explicit merge to take that into account. After a release master will not have the same as develop, develop may be ahead of master. Master should be at the new tag tho.

[2016-02-19 19:44] #241 closed

[2016-02-19 19:45] jameskyle commented on #241
Thank you for the thoughtful explanation. :+1:

[2016-02-22 11:33] PedroWitzel commented on #238
Yes!
I started looking into git-flow these past days, and found this functionally partially missing.

This case happens a lot where I work. I need to branch (start a release) a version where things *kinda* work and then correct a couple of things so it can be deployed, while others continue the development.

Since the corrections are made by other developpers, they should be able to branch from re

[2016-02-22 18:12] danielb2 opened #242 "What is AVH??"
I'm trying to select between gitflow and gitflow-avh and AVH  is mentioned multiple times, but never defined. Maybe a good thing to put in the FAQ?

[2016-03-01 03:10] petervanderdoes commented on #242
AVH just stands for A Virtual Home. When I started developing, WordPress plugins, I needed a short prefix to distinguish my functions from others. I had the website avirtualhome.com for personal stuff, so I started using AVH.

[2016-03-01 03:10] #242 closed

[2016-03-01 03:17] petervanderdoes commented on #239
Brew creates a file `bin/git-flow` which takes care of the gnu-getopt stuff. If for some reason your path is setup in a way that this is not used for the command git-flow but is using {lib-exec}/git-flow then you would get your error message.

[2016-03-01 03:35] petervanderdoes commented on #238
If I read it all correctly there is a want for two options:

1. You start a bugfix on develop, have the option to also merge the bugfix into the release branch.
2. You start a bugfix on a release branch and on finish have the option to also merge it into develop.

It does make me wonder what happens after you do either of these and you finish your release. I can imagine running into merge conflict

[2016-03-01 03:37] petervanderdoes commented on #237
As mentioned, upgrading to git flow 1.9.1 will fix the problem

[2016-03-01 03:37] #237 closed

[2016-03-01 03:41] petervanderdoes commented on #236
I guess the best I can offer right now is to have a look at the [Changelog](https://github.com/petervanderdoes/gitflow-avh/blob/develop/Changes.mdown)
Basically read up from the release [0.4.2-avh1 ](https://github.com/petervanderdoes/gitflow-avh/blob/develop/Changes.mdown#042-avh1)

I think to much has changed over the past 4 years to create a page that will explain the differences.

[2016-03-01 04:02] petervanderdoes commented on #235
I think I could add a parameter to automatically fast-forward master, something like

`git flow release finish --ff-master`

[2016-03-01 04:03] #239 closed

[2016-03-01 04:03] #236 closed

[2016-03-01 04:10] petervanderdoes commented on #227
If you use a tag on finish, the tag is done on the Master branch.
When you finish a hotfix, the hotfix branch is merged into Master. By default git-flow merges Master (including the tag commit) back into Develop. With the `-b` option the hotfix branch is merged into develop and therefor not the tag commit.

[2016-03-01 04:10] #227 closed

[2016-03-01 04:11] #224 closed

[2016-03-01 04:52] hungdoan2 commented on #226
The same here.
But, I think It's not git-flow issues . It's  work-flow issue.
You can release directly on the `hotfix`  to make sure our fix is delivered to customer as soon as possible.  But I think I have to merge it to master to make sure my fix is `logged`. Because `hotfix branchs` will be deleted in the future.

[2016-03-01 10:34] McDoit commented on #238
Option 1. i would say isnt possible, as doing a bugfix like that would mean potentially putting out develop code on master without a release. Should use hotfix instead.
Option 2. is the one im after, and if you dont have a release branch just start and finish on develop.
And if started on a release but not finished until the release is completed, finish on develop.
And if started on develop but on

[2016-03-01 14:54] #144 closed

[2016-03-01 15:03] petervanderdoes commented on #225
You can clone the wiki and send me git formatted patches by attaching them in the issue.

[2016-03-01 15:06] #123 closed

[2016-03-01 16:44] #210 closed

[2016-03-02 17:46] AbeDillon opened #243 "Documentation never mentions what "AVH" stands for"
It's usually good form to spell out an acronym before using it. It's driving me crazy. I checked the project header, README, Wiki, FAQ, and google. I want to tell people about this cool project, but I can never remember the acronym.

"You should check out git-flow-... vhs? acv? ahv? something like that... It's a really great plug-in!"

A little blurb or link in the README is all I ask.

[2016-03-02 18:31] mahlon-gumbs commented on #243
My guess is AVH is "A Virtual Home" since Peter van der Does' blog is hosted at http://blog.avirtualhome.com.  You can find links to some of the git-flow AVH archives there: http://blog.avirtualhome.com/category/software/git-software/git-flow/

[2016-03-02 23:38] par2 commented on #237
Thank you.  Any suggestions on how to upgrade canonically?

[2016-03-02 23:41] mahlon-gumbs commented on #243
Just noticed this: https://github.com/petervanderdoes/gitflow-avh/issues/242

[2016-03-03 02:57] AbeDillon commented on #243
Thanks. It would be nice to link to AVirtualHome somewhere. I thought it was some jargon that I didn't know. It's weird how much it got to me.

[2016-03-03 21:23] ukrutt commented on #214
+1

[2016-03-04 14:16] noopole opened #244 "Visual Studio"
There's a Visual Studio Extension, that installs an extension for GitFlow. This extension will install GitFlow by itself. No installation instructions are needed.

Maybe you could add it to the Windows FAQ:
http://blog.ehn.nu/2015/02/introducing-gitflow-for-visual-studio/

[2016-03-04 15:30] petervanderdoes commented on #244
Cool, I'll add it. Thanks for the info

[2016-03-04 15:30] #244 closed

[2016-03-04 20:33] ransford commented on #214
+1!

[2016-03-11 19:51] IDisposable commented on #238
Agreed on the second flow...

[2016-03-12 13:57] bdotzour-widen opened #245 "Two problems with Mac OS X installation steps"
The installation notes (both for wget and curl) reference an outdated URL to the installer script which is now returning a redirect.  wget is handling this, but curl is not.

1) The curl command needs to have the -L flag added to it to tell it to follow the redirect.

2) The one-liner using wget does not actually work, the arguments to the installer (e.g. install develop) are not properly getting

[2016-03-13 17:45] esetnik commented on #201
i just noticed the same thing. I think that the default should be to persist remotes. It's too dangerous the way it is.

[2016-03-14 21:33] IDisposable commented on #235
Can we possibly make the --ff-master a defaultable setting?

[2016-03-16 02:10] petervanderdoes commented on #235
Yes. All flags can be set to a default state.

[2016-03-16 02:15] petervanderdoes commented on #201
You can set the flags to be default. So if you always want to keep feature, hot fix, bug fix, release branches you can set these flags.

[2016-03-16 02:16] petervanderdoes commented on #245
I'll check it when I'm back from a trip next week.

[2016-03-16 09:07] thedrow commented on #201
I'd rather have the branches deleted after Github has marked them as merged.

[2016-03-19 05:36] tommynsong commented on #128
just want to confirm that "git flow feature checkout {feature_name}" will be removed and resort to use normal "git checkout {feature_name}" instead?

[2016-03-21 14:22] noopole opened #246 "could not read Password error"
When I want to terminate a feature, I select the command `Finish feature`, push the [OK] button, and get the following error in the console:

`fatal: could not read Password for 'http://[my_username]@[my_ip]:7990': Invalid argument`

Where can I set the password for my Git account?

[2016-03-21 14:24] linquize commented on #246
`http://user:password@host:port/`

Alternatively, you may enable git credential helper

[2016-03-21 14:46] noopole commented on #246
Thank you for your help.

[2016-03-21 14:46] #246 closed

[2016-03-21 23:08] petervanderdoes commented on #245
I fixed the installer script instructions. I had to do with the rename of the repo.

[2016-03-21 23:11] petervanderdoes commented on #245
Opened the wiki for now, I'll keep an eye out what happens and may close it again.

[2016-03-21 23:11] #245 closed

[2016-03-23 20:12] wadkar commented on #243
close?

[2016-03-23 21:44] AbeDillon commented on #243
Sure, I guess. I would think the author (petervanderdoes) would want to promote his blog and alleviate some confusion by putting a simple link in the README or something, but I don't care enough to push the issue.

[2016-04-15 16:10] #243 closed

[2016-04-17 02:45] petervanderdoes commented on #161
Alright opening up an old issue here. :)

1. The PR given is to merge the hotfix in all open release branches.
Problem with this is that you will merge more commits, not just the hotfix branch.
Explanation: I have a release branch for v1.1 and the master is v2.0. I do a hotfix on the master, if I merge the hotfix in the release/v1.1 the release branch will be updated to v2.0 + hotfix.
I did a test

[2016-04-18 08:22] raveren commented on #161
Isn't this not only an edge-case but slightly against the gitflow model itself? If your master is ahead of release or you are supporting multiple version production branches, gitflow won't cover that - it's a well-defined flow, and custom domain logic should not be catered to..?

[2016-04-18 09:00] havvg commented on #161
I agree with @raveren. It's not part of the original model, to have a master (production branch) being ahead of the next upcoming release branch. If someone is following such a model, then git-flow is not the right tool for that job.

Actually, having the 2.0 within master (being the production branch!), how would you create a release being targeted to be merged into that branch, without being bas

[2016-04-18 12:24] petervanderdoes commented on #161
Oh I totally agree this is might be an extreme, if not implausible, case but I have seen cases where people create release branches from support branches.  I used this example to make it very clear about the problem that could arise if you have multiple release branches for multiple versions and you automatically want to apply a hot fix to all release branches.
Even with a release branch 2.1 and 2

[2016-04-18 14:58] havvg commented on #161
What's the use-case of having the release branches of 2.1 und 2.2 around? As far as I'm using git-flow, the 2.1 is deleted once closed on the very basic level. I think we should ease the 80-90% use-case, which is streamlined versioning based on the original git-flow.
There are so many different models you can create, there will be no limit. Putting it simple, an option to disable the merge into re

[2016-04-18 17:00] petervanderdoes commented on #161
The new cherry-pick command would be `git flow hotfix cherry-pick <name>` where name is the branch you want to apply all commits from the hotfix branch you are one, so maybe `apply-to` would be a better command. I would add some options from the original `git cherry-pick` command as well, like `-s` and `-S`

I'm not opposed to merging into a release branch, especially when we can decided to not do

[2016-04-18 23:24] petervanderdoes commented on #161
Hmm, I just read a interesting story on why cherry-picking can be a problem.

If we would cherry pick the hotfix branch into release there could potentially be a problem when finishing the release branch. The problem is caused by the fact that the master and develop branch all ready have the commits from hotfix branch and those also exist in the release branch. See http://stackoverflow.com/questio

[2016-04-19 06:19] havvg commented on #161
That's not a limitation to the cherry-pick, but merges in general. That's why the `--no-commit` option exists. I don't suggest to start taking this into considerations. This should be done by testing the outcome (on a codebase e.g. by automated tests) rather than blindly believing everything is OK.
That's not something new, that would be introduced by merging the hotfix into the release, but it's

[2016-04-19 12:34] petervanderdoes commented on #161
Yeah, I just realized rebasing of of develop is just as bad. It would imply that develop remains untouched while there is a release branch, and that's not happening.

[2016-04-22 21:16] rhencke opened #248 "'git flow hotfix track' fails due to branch name check"
Given the following repository setup:
* Repository is initialized with git flow
* A hotfix branch exists on origin (say, ```hotfix/1.2.3```)
* No local hotfix branch exists.

The following command fails:
```git flow hotfix track 1.2.3```

with:
```Fatal: Branch 'hotfix/1.2.3' already exists. Pick another name.```

Even though no such branch exists locally.

This is due to https://github.com/peterv

[2016-04-27 00:15] #202 closed

[2016-04-27 00:15] #219 closed

[2016-04-27 00:50] #197 closed

[2016-04-27 06:05] thedrow commented on #202
Is a new version released yet? I don't see a new tag.

[2016-04-27 11:30] petervanderdoes commented on #202
https://github.com/petervanderdoes/gitflow-avh/tree/1.9.1

Two tags since 1.8.0, v1.9.0 (which I have to rename) and 1.9.1

[2016-04-29 15:02] zheeeng opened #250 "Any plan on enhancing gitflow-avh on git co-develp flow?"
For example:

index | git-flow | git
:---:| :---|:---
1 | `git flow feature pull <feature name>` | `git pull origin feature/<feature name>`
2 | `git flow feature pull --rebase <feature name>` | `git pull --rebase origin feature/<feature name>`
3 | `git flow feature push <feature name>` | `git push origin  feature/<feature name>`
4 | `git flow master track` | `git push -u origin master`
5 | `git fl

[2016-05-01 07:11] zheeeng opened #251 "git-flow finish cmd always switch HEAD to develop"
If you are in feature/f1, `git flow feature finish f1` switch you into develop branch is reasonable, but if you are developing feature/f2, run `git flow feature finish f1`, you would also be popup to develop branch.

[2016-05-01 07:20] zheeeng opened #252 "git-flow init won't always add tracking on remote for master and develop branches"
If your repository:
1. Contains remote branch `remotes/origin/develop`, but no `develop`, git-flow init create `develop` and track it on `origin/develop`.
2. Contains remote branch `remotes/origin/develop`, and `develop`(it isn't tracking on any branches), git-flow won't do anything on this two branches, `develop` remains no tracking.

For  `master`, it is same with `develop` branch.

[2016-05-01 07:45] zheeeng commented on #252
I just found many more inconsistent behavior on init cmd:

* If `remotes/origin/master` exist, even if we have no `master` branch, we cloud also specify `master` as production release. But `develop` not, it must use a existed branch.
* If no `remotes/origin/master`, to create `master` branch you must pick a exist branch, `a` branch for instance.
* When you run `git flow init` in regular git reposi

[2016-05-01 10:29] zheeeng opened #253 "git-flow finish one-commit-feature not use --no-ff approach"
When I finished a feature branch development, I found if it contains only one commit, this branch will be merged back to develop with fast-forward approach. What's the explain?

[2016-05-01 10:35] zheeeng commented on #253
I got the answer here:
<https://github.com/nvie/gitflow/issues/100#issuecomment-769968>

[2016-05-01 10:35] #253 closed

[2016-05-01 12:46] zheeeng opened #254 "The"
I created support branch based on  legacy release:

`git flow support start Production-v2.0 v2.0.0`

I got branch: support/Production-v2.0

To satisfy a customer, I added a customizing feature:

[code]

I get:

[code]

Two problem here:
1. The tag v2.0.1 is tagged on the commit which release branch diverge from. Not the the last commit which is merged into support/Production-v2.0.
2. I have to man

[2016-05-01 13:22] zheeeng commented on #144
@petervanderdoes We still need to pull down changes through raw git command, don't we have any improvement?

[2016-05-01 22:00] petervanderdoes commented on #144
What are you thinking of? Do you want something like 'git flow feature pull <feature>' ?

[2016-05-03 15:19] petervanderdoes commented on #251
Devil's advocate question: Why should a `feature finish` always checkout the develop branch?

[2016-05-13 15:09] juliusbachnick commented on #235
Hey,

Is there any progress regarding this issue?

[2016-05-13 17:40] petervanderdoes commented on #235
I'm currently in a relocation process, I'll get back to the issues soon.

[2016-05-15 00:26] petervanderdoes commented on #235
Implemented in commit a5c3724

Please test thoroughly and let me know if it works :)

[2016-05-16 20:24] klingel opened #256 "Finish Release: Handling Of An Empty Tag Description"
When doing a `git flow finish release` git flow tags with option `-a` so that the user is prompted to enter a tag description. I (erroneously) assumed that I could get away with leaving that message empty. When I did that `git tag -a [..]` failed and so did `git flow`. It stated:

After that I checked out my release branch and fired a `git finish release` again to retry as suggested. Unfortunately

[2016-05-18 07:40] jluttine commented on #235
Perhaps I've misunderstood this feature, but I tried and master branch wasn't fast-forwarded. I was expecting that there would be no merge commit from release branch to master branch: the master branch should be fast-forwarded to the last commit in the release branch. Or have I misunderstood? At least that's a feature I'd be very much interested in: no merge commits to master, just fast forward.

[2016-05-18 10:16] danielcompton commented on #235
@jluttine this is a slightly different use case. This is for when you've got multiple developers/computers that are releasing. When dev a releases, they will update the master branch, push it, and continue with the release process. When dev b goes to release, unless they explicitly pull the latest from master, then they will have problems as their version of `master` is behind that on the server.

[2016-05-18 10:22] jluttine commented on #235
Ok, thanks for explaining. I'll open a separate issue for my case. Anyway, I find the switch --ff-master confusing. I'd reserve that for fast forwarding master. For the case in this issue, I'd suggest using some other switch. Perhaps --fetch or something.

On May 18, 2016 1:16:08 PM EEST, Daniel Compton <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse

[2016-05-18 11:29] jluttine opened #257 "Option to fast-forward master (when finishing release)"
I'd like to have a switch which made it possible to fast-forward master when finishing a release. Currently, a merge commit is always made. However, I don't see any reason why this would be necessary: next release is always based on the previous in git flow framework, so the master branch can always be fast forwarded.

A bit more details: Currently, release branch is merged to master and this merg

[2016-05-18 11:50] jluttine commented on #257
I suppose this can be accomplished simply by putting `--ff-only` instead of `--no-ff` when merging the release branch to master: https://github.com/petervanderdoes/gitflow-avh/blob/develop/git-flow-release#L106.

[2016-05-18 14:30] petervanderdoes commented on #235
I can see the confusion with `--ff-master`.

What do people think of the following:
We already have the `--fetch` flag, which is helpful if you have setup remote tracking.
Instead of the `--ff-master` flag we could do `--fetch-ff-production` and `--fetch-ff-develop`

[2016-05-20 01:41] #256 closed

[2016-05-22 20:03] klingel commented on #256
Great. I can confirm it works now as expected :+1:

[2016-05-23 12:26] esetnik commented on #201
@petervanderdoes how do you set the persistent defaults for these flags?

[2016-06-04 08:47] adam-moss opened #259 "`git flow init -d` does not work with `useconfigonly = true`"
`git` 2.8 introduced a new configuration setting `useconfigonly` which, when set to `true`, will not allow operations to be performed unless a local `git config user.name = "x"` and `git config user.email = "y"` has been performed on a pre repo basis.

This is useful when the same device is used in multiple identity contexts (e.g. for work and hobby coding).

Currently if this option is configured

[2016-06-08 08:56] ivan-pomortsev opened #260 "Display git flow feature as a tree"
Let's imagine that we need a lot of sub-sub-features and we do something like:
`
git flow feature start test-first
git flow feature start test-second feature/test-first
git flow feature start test-third feature/test-second
`

Then we call "git flow feature list":
`
git flow feature list
`
And got next:
`
  test-first
  test-second
* test-third
`

Hope it could be very nice to get a tree as output

[2016-06-13 21:26] Kristian221 opened #261 "Develop branch push after feature finish"
Is there a reason the develop branch doesn't automatically get pushed after you finish a feature branch? When finishing a release branch you can use '-p' to push automatically, it would be nice to have such a feature with feature branches.

[2016-06-15 20:05] jluttine commented on #257
I could make a pull request for this but my solution would be in conflict with the current state of the master: `ff-master` is in use for something totally different.

[2016-06-20 06:20] jrial commented on #199
Ditto. In our workflow, branch names are descriptive (refer to issue # + short description), while tags represent the release version numbers.

[2016-06-20 06:43] jrial commented on #143
Personally, I consider the fact you can't create multiple hotfixes a bug. My current hotfix can be interrupted for a more urgent security fix, and the process should support this instead of telling me "you're not allowed to do that". It wants to throw me a warning, asking for my express consent in the process even, fine. But allow it.

It's already possible for two developers to have separate loca

[2016-06-21 11:07] gene-pavlovsky commented on #191
I've had same problem. The second way to do it succeeded to install, but the installed files had Windows line endings (CRLF), and didn't work. I had to
[code]
(Or `make install` instead of the last two lines).
My `core.autocrlf` is set to `true` in the global git config (per github's recommendations, maybe it's not such a great idea). In my own projects involving shell scripts or other files where

[2016-06-22 11:22] jrial commented on #251
@petervanderdoes I'd argue it should always checkout the _parent_ branch.

@zheeeng I kind of understand where you come from, but I believe it would replace one problem with another. I'd prefer to know that after every feature finish I end up at exactly the same spot, rather than having to take into consideration what branch I'm on every time I finish a feature, just to figure out where I'll end u

[2016-06-22 15:21] jrial commented on #199
@petervanderdoes this is itching me, and I'm ready to scratch it. What syntax do you prefer?

`git flow hotfix finish branchname versionnumber`
or
`git flow hotfix finish branchname -v versionnumber`

[2016-06-23 02:43] petervanderdoes commented on #199
I'm currently on transistion from one city to another,  but wanted to quickly add my view. We could add something like

`git flow hotfix finish --tag <tagname> <branchname>`

If that flag is used the normal tagging would be overridden by the value of the tag.

In the end it means we would change the behavior of several commands, instead of using <version> it would become <branch> which I'm totally

[2016-06-23 08:43] jrial commented on #199
As far as I see, the only impact is during the following, correct?

- hotfix finish
- release finish

The feature and bugfix subcommands don't concern themselves with tagging ATM. Nor should they, so no changes required there.

[2016-06-28 18:31] adnux opened #263 "Add support for pull requests on branch finishing"
Copyng the issue from old repository:
[Add support for pull requests on branch finishing](https://github.com/nvie/gitflow/issues/6364l):

Support for creating pull requests when finishing a branch would be a huge feature.

The ability to do the following:

git flow feature pull 0001

This would create a pull request for the current branch.

I would be happy to make a start on this, but my bash scr

[2016-07-07 06:51] vdh opened #264 "`git flow feature finish` fails when remote branch has already been deleted"
[code]

Since GitHub PRs offer to delete a branch after it's been merged, the remote is almost always already gone by the time I want to clean up my local branches.

[2016-07-12 20:50] IDisposable opened #265 "Trailing tab in .git/config file breaks prefix parsing."
If there's a trailing blank / tab in the `config` file for on the `[gitflow "prefix"]` then the next line in the section (typically the `release = release/` line) will be incorrectly ignored/missed and gitflow will complain that the prefix is not set.

This is an invalid setup in the file, but seems fragile to whitespace.

[2016-07-21 01:00] keybounce opened #266 "Hotfix squash uses release config"
#160 was asking for a way to use squash commits in hotfixes.

This is regarding these lines in hotfix:

[code]

Note that hotfix uses release's squash options, instead of it's own.

[2016-07-21 01:07] keybounce opened #267 "Documentation: What does each branch-type do?"
The docs don't explain the differences between the different types of branches.

A hotfix seems to be based off master, and not permit more than one hotfix.
But the others ... they all seem to be based off develop by default. How do they differ?

Basically: The "start" and "finish" sub-command for each of hotfix, bugfix, feature, release, support: what do they do / how do they differ / what is the

[2016-07-21 01:25] keybounce opened #268 "Release finish: Single squash commit?"
So the observed behavior, and looking over the script, the actual intended behavior for git flow release finish, with squash, seems to be:

1. Make a squash commit of the branch to master (good).
2. Make a squash commit of master to develop (???)

I'd like to know why it is not doing a normal commit of master to develop, specifically to keep git's tracking of changes.

What I thought would happen

[2016-07-21 01:26] keybounce commented on #267
OK: "support" does not have a finish sub-command. What is the purpose of these branches?

[2016-07-21 02:15] keybounce opened #269 ""hotfix finish" left the hotfix tag alive."
Not really sure how this came about. See https://github.com/keybounce/Finite-Fluids/network

On july 18th, I started using gitflow. You'll see "hotfix/Refactor_water_flow". This was a "simple" edit (NB: see also the "messToCheckIn" branch -- the hotfix was a cherrypick of a subset of edits made).

I finished hotfix; it was squashed into master (9315), and from there merged into develop (this is ex

[2016-07-23 23:53] petervanderdoes commented on #266
Thank you for reporting. Fixed per commit ab5dc10

[2016-07-23 23:53] #266 closed

[2016-07-24 00:08] petervanderdoes commented on #265
Do you mean a trailing space/tab after `[gitflow "prefix"]`

I can't reproduce it here locally.

What system are you running?
Which version of git?

[2016-07-24 00:13] petervanderdoes commented on #268
I believe you are on to something here.

There is an option for not back merging the master/tag into develop, but just merge the release branch in the develop branch. In that case teh squash should still be used but if you backmerge I believe you are right and there is not need to squash the commit.

[2016-07-24 00:22] petervanderdoes commented on #268
Fixed per commit 1609299

[2016-07-24 00:22] #268 closed

[2016-07-24 00:32] keybounce commented on #268
Thank you (now to wait for a release)

On 2016-07-23, at 5:22 PM, Peter van der Does <notifications@github.com> wrote:

---
Entertaining minecraft videos
http://YouTube.com/keybounce

[2016-07-24 00:43] petervanderdoes commented on #263
Currently git-flow is POSIX compatible, no Bashism are used.
To use the Githb API we probably have to use a 3rd party library. I think it would possibly make it harder to keep it POSIX compatible if a external library is used.

[2016-07-24 20:08] WizX20 opened #270 "Feature request: chocolatey package for Windows"
Create a chocolatey package for Windows installation (https://chocolatey.org/packages?q=gitflow) to make installing gitflow a piece of (chocolate) cake.

[2016-07-24 20:09] WizX20 commented on #270
Never mind, there already is one. My bad: https://chocolatey.org/packages/gitflow-avh

[2016-07-24 20:09] #270 closed

[2016-07-25 11:27] rendekarf commented on #199
Hey guys, is the pr going to be accepted ? Would be really nice to state a different tag name as compared to the release/hotfix branch names

[2016-07-25 20:21] #251 closed

[2016-07-25 20:55] petervanderdoes commented on #261
Implemented with commit 53bb53669f0a0f57f1661c2b03fd5c56438a13fc

The flag is just `--push` as `-p` is already used for something else.

[2016-07-25 20:55] #261 closed

[2016-07-26 01:07] petervanderdoes commented on #143
Juan (@jrial),

you can actually set a config by hand that allows for multiple hotfixes.
`git config set gitflow.multi-hotfix true`
as per commit

[2016-07-26 01:07] #143 closed

[2016-07-28 14:53] dkirrane opened #271 "[Question] Does support branch allow release start/finish?"
Can I run release start and finish on a support branch?

Will this create a tag on the support branch?

[2016-08-03 23:26] booc0mtaco opened #273 "Add link to Daniel Kummer's git flow guide"
A more up-to-date description of what git flow is all about lives here : <http://danielkummer.github.io/git-flow-cheatsheet/> . It might be good to link to it in the README!

[2016-08-04 23:14] petervanderdoes commented on #273
Done. Thank you.

[2016-08-04 23:14] #273 closed

[2016-08-10 19:16] petervanderdoes commented on #271
Yup,

With the latest develop version.

[2016-08-10 19:16] #271 closed

[2016-08-10 19:31] petervanderdoes commented on #269
Truth be told, I'm not 100% sure what happened.
What I see on Github for the hotfix branch:
"This branch is 1 commit ahead, 40 commits behind master."

This means it will not allow deleting of the branch as it might miss a commit, the 1 commit.

The network graph does not show the branch has been merged in the master as well.

On Stack Overflow somebody said it's more a warning than an error. http

[2016-08-10 19:32] petervanderdoes commented on #267
Support are branches you can use if you need to support multiple releases. For example, 1.x and 2.x

[2016-08-10 19:34] petervanderdoes commented on #264
git flow does not play well with the PR system of GitHub.

Personally I never use the PR fully.

[2016-08-10 19:35] petervanderdoes commented on #263
Right now I'm closing this, besides GitHub, there is BitBucket, GitLab etc. With shell it's close to impossible to support every single one.

[2016-08-10 19:35] #263 closed

[2016-08-10 19:37] petervanderdoes commented on #250
Some of these sound good.

[2016-08-10 19:44] petervanderdoes commented on #203
http://stackoverflow.com/questions/6656619/git-and-nasty-error-cannot-lock-existing-info-refs-fatal

[2016-08-10 19:44] #203 closed

[2016-08-10 22:27] vdh commented on #264
But this issue is not present in [nvie/gitflow](https://github.com/nvie/gitflow), which detects the missing remote branch and skips it.

[2016-08-10 23:44] petervanderdoes commented on #264
What version of git-flow are you running?

[2016-08-10 23:53] vdh commented on #264
0.4.1

[2016-08-11 00:02] petervanderdoes commented on #264
Time to upgrade. The current version is 1.9.1 released on Oct 20,2015.
Version 0.4.1 was released on Feb 14, 2011.

[2016-08-11 00:02] #264 closed

[2016-08-11 00:10] vdh commented on #264
I was talking about [nvie/gitflow](https://github.com/nvie/gitflow) version 0.4.1, the original that doesn't exhibit this issue.

[2016-08-11 11:23] dkirrane commented on #271
Great, when do you plan to release what's on development?

[2016-08-11 12:20] petervanderdoes commented on #271
Did yesterday :) Version 1.10.0

[2016-08-13 00:13] petervanderdoes commented on #199
Implemented per [Release 1.10.0](https://github.com/petervanderdoes/gitflow-avh/releases/tag/1.10.0)

[2016-08-13 00:13] #199 closed

[2016-08-13 23:01] marcinant opened #275 "Allow to pass `--template` argument to `git flow init`"
When `git flow init` is called on directory which does not contain `.git` dir then `git init` is fired without any parameter (git-flow-init line 104)

It would be great if we could run `git flow init --template=<somedir>` and initialize git with custom templates.

[2016-08-17 10:04] andymwood opened #276 "Error message: gitflow-common: line 79: [: -eq: unary operator expected"
I'm getting the above error message from git-flow after executing the following sequence of commands:

[code]

Output form the last command is:

This is with the latest version - 1.10.0, running under openSUSE 13.2.
The error does not occur with the version of git-flow installed from the openSUSE repositories (1.9.1)

[2016-08-17 10:40] jluttine commented on #257
As `ff-master` is already reserved, perhaps `ff-only`? (Or any other ideas?) So, a release could be finished as:
[code]
Any thoughts on this matter? @petervanderdoes

[2016-08-17 11:51] cassianotartari opened #277 "[Question] Ubuntu installation and push origin tags"
Hi!

  I'm starting to play with git flow and when I installed it on Ubuntu with ``sudo apt-get install git-flow`` the installed the version is:
[code]

  When I installed it with:
[code]

The problem to use ``git-flow`` instead of  ``git flow`` are the shortcuts in terminal with ``tab`` autocomplete. Using ``git-flow`` doesn't work.

The second question is about push the release tags to remote. I

[2016-08-17 21:02] sgtsquiggs commented on #276
Getting this exact error myself:

[code]

[2016-08-19 14:18] petervanderdoes commented on #276
What is the prefix you use for the feature branch?

[2016-08-19 14:35] petervanderdoes commented on #277
The pushing of the tag on a `release finish` is controlled by the flag `--pushtag`

If you always want to push tag on a finish you can set this option by default in the config by running this command: `git config gitflow.release.finish.pushtag yes`. See [git flow configuration](https://github.com/petervanderdoes/gitflow-avh/wiki/Reference:-Configuration) and [git flow configuration example](https:

[2016-08-19 14:47] petervanderdoes commented on #257
Maybe I'm missing something, but how do you fast forward master to the release branch without merging it?

[2016-08-19 14:50] petervanderdoes commented on #235
Ok, so it seems I sort of create this without the use of the flag, by default the master branch is fast forwarded when it can be on a release finish. I'll fix it in the next few days and use the flags as described in [the above comment](https://github.com/petervanderdoes/gitflow-avh/issues/235#issuecomment-220044463)

[2016-08-19 15:27] pke opened #278 "git flow release does not pull origin/develop automatically"
Is that a bug or intentionally?

[2016-08-19 16:40] andymwood commented on #276
'feature/', the default.

[2016-08-19 16:41] petervanderdoes commented on #278
Intentional. You can use the flag `--fetch` to fetch. If you always want to fetch you set it in the git config file, see https://github.com/petervanderdoes/gitflow-avh/wiki/Reference:-Configuration

[2016-08-19 17:21] petervanderdoes commented on #276
Fix per version 1.10.1 Thanks for reporting

[2016-08-19 17:21] #276 closed

[2016-08-19 17:30] jluttine commented on #257
Or maybe I'm missing something. I don't see any case where you couldn't fast forward master to the release branch. Could you explain such a case? Master has been merged to the release branch and that to the develop branch, then the next release branch starts from the develop branch at a later point. What prevents fast forwarding? In my opinion, master should only be fast forwarded always, merge co

[2016-08-19 17:47] petervanderdoes commented on #257
When you start development the setup would be:

`Master -> develop -> feature -> develop -> release -> master -> develop`, but there is also `master -> hotfix -> master`. At that point the hotfix commits are not on the develop branch.

The other thing is I don't know of a git command that would do a fast forward only from branch to branch. Branches always need to be merged or cherry picked.

[2016-08-19 18:27] jluttine commented on #257
I'm sorry but I don't quite follow. I guess I'm too unfamiliar with git and git-flow.. I'll try to answer anyway.

First: When finishing a hotfix, master can't be fast forwarded, the hotfix branch needs to be merged to master. Then, after finishing the hotfix, master is merged to develop, and then the following releases can be fast forwarded without problems. I don't see any issue here.

Second: `

[2016-08-19 20:06] petervanderdoes commented on #257
Alright I get you now.

The reason for not always doing a fast forward merge is mostly because of history. If you look at a graph you can see when you merged a branch into another branch.

If you searched the internet for fast forward merge vs no fast forward merge you'll find a whole bunch of pros and cons for either one.

I'll see if could at a switch like --merge-ff to allow for fast forward me

[2016-08-19 23:08] talios commented on #257
On Sat, Aug 20, 2016 at 5:47 AM, Peter van der Does <
notifications@github.com> wrote:

Hotfixes should back-merge onto develop tho, at least they used to! So that
should be fine when doing a new release branch.

'support' branches don't back merge to master OR develop tho.

--
"Great artists are extremely selfish and arrogant things" — Steven Wilson,
Porcupine Tree

[2016-08-20 12:02] pke commented on #278
I guess thats kind of a protection so that if I decide to create a release branch from develop I first manually update my develop branch (to a commit I want to branch off from). Because in the meantime somebody else from the team could have merged a feature/bugfix/hotfix into develop and I would branch off a different HEAD I intended to?

[2016-08-20 12:02] #278 closed

[2016-08-21 00:22] mrmckeb commented on #201
Could this be a single option, so that it runs something like the below when finishing a feature? Or do you have a better solution? It would be great to use `git flow feature finish`, but currently we're doing our merging on GitHub for the aforementioned reasons.
[code]

[2016-08-22 13:54] avaz opened #280 "Using ssh to clone repos disable use of 'new-pull-request' command."
Hi,

I have different accounts in Github and Bitbucket and to access them I use ssh with multiple keys. So in my ssh config file I have something like:
[code]

And to clone repos of these servers I do something like:
[code]
Everything works but the 'new-pull-request' feature:
[code]
It can't identify which server is being used.
I don't think that it's a bug so I will let this here as suggestion.
I

[2016-08-22 13:57] #277 closed

[2016-08-22 23:35] petervanderdoes commented on #280
Which command are you running that gives the error message?

[2016-08-23 06:18] avaz commented on #280
```git new-pull-request```

[2016-08-23 09:05] avaz commented on #280
BTW, the command ```git repo``` fails with the same error message in this scenario.

[2016-08-23 12:02] petervanderdoes commented on #280
I think you are at the wrong project. This project does not have either of the commands you say fail.

[2016-08-23 12:04] avaz commented on #280
Hey @petervanderdoes, that's true, I confused the projects. Sorry!

[2016-08-23 12:04] #280 closed

[2016-08-23 12:09] petervanderdoes commented on #280
Not a problem :) Out of curiosity which project where you talking about? I'm always looking for goof git projects.

[2016-08-23 12:16] avaz commented on #280
The project that I supposed to open the issue is this one:
[Git Town](https://github.com/Originate/git-town)

[2016-08-25 08:29] ishankhare07 opened #281 "Doesn't not report summary properly"
after the finish command, the summary of actions in not consistent as it does not report deleting the remote branch even when it deleted it

[2016-08-26 21:58] seanfuture opened #282 "How to finish a release non-interactively?"
Peter Hello - Would very much like to run git flow AVH Edition without being prompted to edit/review commit messages while finishing a release ( as mentioned here:  https://github.com/nvie/gitflow/issues/2201 )

Could you please point me to a location in code where I can easily bypass the prompt using a new command line option, or would you perhaps know of an existing way to accomplish this?

Than

[2016-08-27 06:47] zx1986 commented on #242
aha, it's all about personal :-)

[2016-08-28 18:20] seanfuture commented on #282
Figured out the issue -  In my case I disabled git's merge auto-edit feature and that allowed me to script out git-flow commands without requiring user input:

[code]

[2016-08-28 18:20] #282 closed

[2016-09-01 06:59] codeHatcher opened #283 "allow branch specification with partial name"
In the non-AVH version if I had a feature called 'refactorProps" I could do `git flow feature finish ref` and it would go ahead and act on the closest matching one. It was extremely handy and I would love to see that in this version as it was extremely convenient

[2016-09-05 14:50] superole opened #284 "git flow feature checkout fails for nameprefix"
My versions:

    $ git version
    git version 2.9.3.windows.1
    $ git flow version
    1.9.1 (AVH Edition)

My feature branches:

    $ git flow feature
      XX-123-fix-for-a-numbered-issue
      XX-199-another-detailed-task

Documentation states that git flow feature checkout can take `name|nameprefix` as arguments.

Executed command:

    $ git flow feature checkout XX-199

Expected result:

[2016-09-06 23:08] AGBrown opened #285 "git flow release start 0.0.0 with version prefix adds prefix to tag, but not branch"
If I do:

[code]

Then the branch is created as `release/0.0.0` and not `release/v0.0.0`:

    Switched to a new branch 'release/0.0.0'

The prefix config has taken effect though as when I then do

    git flow release finish

 - The tag is named `v0.0.0`.
 - The branch -> master merge message still says `Merge branch 'release/0.0.0'`
 - The tag -> develop merge message still says `Merge tag 'v0.0

[2016-09-07 18:24] petervanderdoes commented on #284
Fixed per commit  9c68da2

[2016-09-07 18:24] #284 closed

[2016-09-07 18:29] petervanderdoes commented on #285
I can see the confusing it could bring. Could you live with a configuration setting that you could set to make this happen?

Something like
`git flow config set useversionprefixwithbranch true`

That config could be set local,global or system wide.

[2016-09-08 09:46] AGBrown commented on #285
I could easily live with that. My concern about suggesting we make it add the prefix to the branch version number is that it is essentially a breaking change - suddenly other people would see the behaviour change if they were using the prefix in its current form.

Would other people understand how it works? As long as we updated the documentation [e.g. this](https://github.com/petervanderdoes/gitf

[2016-09-08 09:59] AGBrown commented on #285
FWIW, I just realised that it looks like this repo could [also benefit from this kind of standardisation](https://github.com/petervanderdoes/gitflow-avh/tags):

1. 1.8.0
1. v1.9.0 <-- oops
1. 1.9.1

This standardisation of version number format trips me up all the time - it would be nice if it was part of the overall gitflow workflow standardisation.

[2016-09-08 20:23] kevinquillen opened #286 "Git flow commands now show "master: integer expression expected" in command line"
After upgrading to git 2.9.3 (OSX 10.11.6) via homebrew, when I do a git flow command with git flow avh 1.10.1, I get this message in the command line:

[code]

Any ideas on what this is or how to fix it?

[2016-09-09 20:11] petervanderdoes commented on #286
Is it with every git-flow command?

Could you run:

`DEBUG=yes git flow release finish 1.18` or a git-flow command that produce the above error and post the last 30-20 lines of the debug output?

[2016-09-14 13:06] klday commented on #123
I'm having the same problem as above.  it's so frustrating.  I am getting merge conflicts where I should not have them.  I'm not the only one on my team experiencing this problem.  And, when I fix the merge conflicts, the same conflicts pop back up again when I rebase --continue.  Sometimes I'll get through rebase --continue, but on my next pull for my feature branch - same conflicts arise again.

[2016-09-15 13:22] KES777 opened #287 ""A successful Git branching model" should be fixed a bit"
![git_flow_branch](https://cloud.githubusercontent.com/assets/799021/18551056/87257b4c-7b5f-11e6-9853-c510113853f4.png)

The `master` branch should be updated **only** from `develop` and vice versa. Without that fix we see info about `release` and `hotfix` differently from view of `master` or `develop`

You can see the `release/v0.02_16` branch from `develop` side
![release_from_develop_viewpoint]

[2016-09-15 13:32] cdvv7788 commented on #287
If you merge back to develop before a release, doesn't that break the whole purpose of release branches? The purpose of the release branch is to take a snapshot of develop and use that as a base for the upcoming release.
There may be issues with the way branches are handled, but i don't think that merging from develop is the solution if that's the case.

[2016-09-15 13:55] KES777 commented on #287
It is merged back into `develop` in any case. Look at `Summary of actions` for actual version:
[code]
The change I suggest is to merge into `master` when finish `release` not the last commit of `release` branch but the commit of release merge

[2016-09-15 13:58] cdvv7788 commented on #287
It is merged back to develop, but develop may contain new commits by then, so once release is merged back to develop it is not suitable for merging with master anymore.

[2016-09-15 15:27] mahlon-gumbs commented on #287
Am I misunderstanding your statement here?  Since release is merged back to both develop an master, develop is either:
- exactly the same as master, in which case there is no need to merge develop into master
- ahead of master because it contains new commits, in which case you could still merge develop to master because develop is ahead

In the second case, you’d still not want to merge develop di

[2016-09-15 18:42] KES777 commented on #287
hm... Is there a way to see commits on release branch from `master` side of view like we see **hotfix**?
![release_from_master_viewpoint](https://cloud.githubusercontent.com/assets/799021/18551147/ec230e7e-7b5f-11e6-9d74-df32ed0e188e.png)

[2016-09-15 19:09] petervanderdoes commented on #287
@KES777 What's confusing you in the latest log?

[2016-09-15 19:15] petervanderdoes commented on #287
As far as your drawn suggestions in the first post, like people have indicated your develop branch could be ahead of your release branch, so merging the develop branch into the master branch is not advisable.
Merging the hotfix tag into develop doesn;t sound crazy, maybe worth developing as it could mean you are missing tags "on" your develop branch. This is mostly important for `git describe` (ht

[2016-09-15 20:07] petervanderdoes commented on #287
Just checked, and the code actually backmerges the tag to develop for a `hotfix finish`

The image used in the documentation is from the original version. It needs updating I just don;t know how to :/

[2016-09-15 20:22] petervanderdoes opened #288 "Update git flow graphic"
![git-model](https://cloud.githubusercontent.com/assets/380071/18565952/ec3b6f32-7b5f-11e6-8668-1168f3429951.png)

The above graphic is no longer valid for this version and needs to be updated.
The following need to be addressed

- Add bugfix branch. Just add bugfix to the top of the grpah where it says feature.
- Hot fix merges the tag back into develop
- Release branch merges the tag back into d

[2016-09-16 17:48] drucci commented on #286
[code]

[code]

[2016-09-16 19:14] petervanderdoes commented on #286
Got it, Fixed per version 1.10.2. Just released.

[2016-09-16 19:15] #286 closed

[2016-09-19 16:03] RDyego commented on #191
@gene-pavlovsky Thx.

[2016-09-22 19:26] weynelucas commented on #191
Thanks!

[2016-09-23 14:37] havvg opened #289 "add configuration to make rebases interactive"
It would be great, to be able to configure git-flow to use `rebase --interactive`.

This will enable usage of git features such as `rebase.autosquash = true`.

[2016-09-23 15:03] AGBrown opened #290 "gitflow-common: line 79: [: -master: integer expression expected"
Doing a `git flow release finish` I see the following line displayed. Is this a problem?

[code]

The full console output (project file names redacted) is:

[code]

My msysgit git flow was updated recently (to `1.10.1 (AVH Edition)`) by cloning the git flow repo, checking out  and copying all git flow files (below) into the `git/usr/bin` directory:

[code]

[2016-09-29 17:35] drucci commented on #290
https://github.com/petervanderdoes/gitflow-avh/issues/286

Try updating to 1.10.2

[2016-10-04 13:03] emerout commented on #267
What about the difference between hotfix and bugfix ?

[2016-10-04 13:50] pke opened #291 "Why isn't --no-ff the default for merges?"
The original git flow recommended to always use real merges instead of fast-forwards. Why was this recommendation not carried over to this script? I always forget to configure the options (for each branch even!) when setting up a new project/computer.

It would already help if the flag could be configured during `git flow init` as the last step.

[2016-10-12 05:58] renewooller opened #293 "problem with vi on hotfix finish"
Hi,
I'm getting the following error:

`git-flow hotfix finish list-description-update`
`error: There was a problem with the editor 'vi'.`
`Please supply the message using either -m or -F option.`
`Fatal: Tagging failed. Please run finish again to retry.`

I don't have time to fix it at the moment, just thought I'd lodge it though to keep track of it.
If there's a known easy solution, let me know.

[2016-10-19 08:21] havvg commented on #289
Just found `feature.rebase.interactive - interactive - boolean`.

[2016-10-19 08:21] #289 closed

[2016-10-21 09:19] Moily commented on #267
I had the same query about hotfix vs bugfix.  From what I could find from trawling the Issues list it seems that bugfix is just another feature branch but with a different prefix to denote that it's actually a bugfix rather than an enhancement. So, semantically the same as a feature branch.

If that is not the correct interpretation, can someone please correct!

[2016-10-21 12:53] ihcnet commented on #267
For hotfix versus bug, that's my understanding as well, based on upon #156. In the case of support branches, there's a pretty good description found here: https://groups.google.com/d/msg/gitflow-users/I9sErOSzYzE/AwVH06CuKT0J. With all the rest, I've been going by http://danielkummer.github.io/git-flow-cheatsheet/.

[2016-10-25 07:00] paub-stf opened #294 "Why there is no option --push for the bugfix finish ?"
The bugfix command is very similar to the feature command, but there's no option --push for the finish subcommand. Is there a particular reason for that ? Or is it simply an omission ?

Best regards

[2016-10-25 12:23] vladimirfx commented on #95
+1
As now it is kindly  dangerous to share feature/release/bugfix branches started from non default base. Moreover any non default configuration of root branches (develop, features prefix and so on) also not shared by remote. In the age of build tool wrappers, common shared commit hooks, infrastructure descriptors (e.g. Vargrant config ) is very confusing.
Context:
My team is migrated from Mercuri

[2016-10-25 19:43] mgk commented on #201
The current behavior also breaks integrations with things like JIRA: to JIRA (and perhaps other similar tools) the PR being closed is a "rejection" from a workflow perspective.

[2016-10-28 11:56] charles4711 commented on #287
I don't get the purpose of the release branch if it's completely merged into develop again. Release should focus on:
- No new features from develop to roll out
- Test Release branch on test server
- Modify stuff needed for unique version (Edit version string to x.y)
If master receives the release from develop first it'll incorporates new features originally not planned for that release.

[2016-10-28 13:32] petervanderdoes commented on #287
@charles4711
You are correct when it comes to the first two points.
As to point three, the release branch is merged in master, master is then merged into develop.

[2016-10-28 15:06] KES777 commented on #287
Yes. As first arrow on my picture. With last two I was wrong.

[2016-10-31 08:01] charles4711 commented on #216
I'd really like to see the submodule thing also. IMHO submodules are such a good way to handle dependencies on a low level basis without the need to use a tool for that. In some projects we didn't use external tools for handling dependencies. Submodules have just too many pitfalls to use them correctly, so maybe adding support for submodules in git-flow would ease up.
In one of my current projects

[2016-10-31 08:50] davdenic opened #296 "Mac missing symlinks after install"
i just install it with
brew install git-flow-avh

but 2 links are missing:

gnu-getopt -> ../Cellar/gnu-getopt/1.1.6
gettext  -> ../Cellar/gettext/0.19.6

while git-flow-avh -> ../Cellar/git-flow-avh/1.9.1 was ok

git version 2.7.4 (Apple Git-66)

after manually add those links it works properly
bye :)

[2016-11-01 08:38] charles4711 commented on #287
I've startet drawing a new diagram in inkscape. I'll let you know, when it's done

[2016-11-01 11:55] charles4711 commented on #287
Here's the corrected version. Please let me know, what you think.
[git-flow.pdf](https://github.com/petervanderdoes/gitflow-avh/files/563930/git-flow.pdf)

[2016-11-01 11:57] charles4711 commented on #288
I recreated the drawing and posted it on issue #287.
I'd start a drawing for your cases soon.

[2016-11-01 16:25] KES777 commented on #287
1. Is it possible to not hide arrow from 'tag 1.0' to 'develop?
2. For last commit in 'release brunch' add hint: "Change version of your product here". Because product is ready after all tests passed and all bugs fixed

[2016-11-02 10:51] natros commented on #287
@charles4711 can't you use the original to make the changes preserving the graphics style?
http://github.com/downloads/nvie/gitflow/Git-branching-model-src.key.zip

[2016-11-02 12:02] charles4711 commented on #287
@natros Thanks for providing the source code. Which program did you use to create it? I was working on an open source format svg. I think, the style is a bit different, but the content matters more to me.

[2016-11-02 12:39] charles4711 commented on #238
Should a bugfix also merge in multiple releases, when they're active?
- Would it be correct to say that a feature only merges to develop, whereas bugfixes edits/fixes an already created and already merged feature and must merge in develop and CAN merge into all active releaes branches?

[2016-11-02 14:33] natros commented on #287
@charles4711 I did not create the diagram. It's on the bottom of the page for download http://nvie.com/posts/a-successful-git-branching-model/

[2016-11-02 14:44] mahlon-gumbs commented on #287
I think the style of the new diagram is close enough to the original to render any differences moot. While I'm a fan of Keynote, I agree that a cross-platform graphics tool (or at least a platform-independent format) is better here since it would allow more contributors to make changes.

Excellent work @charles4711 . I do agree  with @KES777 that you should try and not hide the arrow showing the m

[2016-11-03 06:17] charles4711 commented on #287
I checked the source in and created a pull request for it in this repo.

[2016-11-08 14:40] maldag commented on #287
I changed the image according to your reviews and updated my pull request.
![git-flow](https://cloud.githubusercontent.com/assets/15095261/20103288/a0d1cbd8-a5c9-11e6-89aa-8661061bb95c.png)

[2016-11-08 15:12] KES777 commented on #287
It is strange to see when two branches are merged into another in one commit.
Look at last purple circles

[2016-11-08 16:08] maldag commented on #287
You're correct with this, but as you noticed, it's the same in the original drawing. You could see the circles as individual commits or as a set of commits of the same kind. (aka "merge tag to develop" or "merge featrues to develop" or "create release branch from develop". It's probably a matter of perspective.
We should try to update some docs and use either one perspetive throughoutly.

[2016-11-10 08:37] Grinderofl commented on #195
This is yet again something that needs to be brought up! There are numerous reasons I could start listing here, but for one, if I can perform the exact steps git flow does, **manually**, without having to do a stash before and stash pop after, then git flow should be able to, too. This is an incredibly frustrating bug (I call it a bug, because really - it may be a 'feature' of git flow, but git it

[2016-11-11 19:27] modle commented on #238
+1 for option 2

[2016-11-21 20:46] mkay581 opened #299 "Config to default no-tag flag to true?"
Hello, I'm using [hubflow](https://datasift.github.io/gitflow/) and not sure if this is the repository to open an issue but research has pointed me here.

There is an option to pass `git hf hotfix finish [VERSION]` a  `-n` flag to prevent a git tag from being created when the hotfix is completed. There are a number of projects where I have to remember to pass this flag due to them having their own

[2016-11-22 09:34] egorse opened #300 "Load .gitflow_export from root of repo"
Would be nice to load .gitflow_export from root of repo.

We have plenty of repos but some has different master/develop branches names. That cause some troubles. Would be nice to be able keep it within the repo

[2016-11-24 10:20] Grinderofl commented on #195
And yet again, will keep bumping this until it gets resolved! I just spent an hour trying to figure out why I kept getting errors on my database on a project I haven't worked with in a while - before discovering that "oh, I had to use a different web.config, which I do not ever commit in during normal usage, but have to stash every time I commit, and I forgot to unstash it the last time I committe

[2016-11-30 02:03] MichaelMallett opened #301 "Are there any GUI's that allow utilisation of the AVH branch?"
While I am a big fan of using the cli, my team isn't and I don't want to force people into something they're not comfortable with.

So far I've tried SourceTree and GitKraken and while SourceTree allows you to use the system Git Flow, it checks for a couple of pull requests from 2012 in the develop branch that don't exist in AVH. There's a few long running feature requests but it looks like Atlass

[2016-12-07 22:34] WoLpH commented on #214
@petervanderdoes ping :)
It's been almost a year, would you prefer a pull request?

[2016-12-20 15:36] mknippen opened #304 "Support GitHub API"
One of the missing features for gitflow is the ability to open a pull request. When our team (and many others that I've heard of) finish a feature, they don't merge directly into develop, they open a pull request to allow a code review. It would be great if this was a customizable setting on gitflow, allowing us to finish a feature, and getting back the link for the pull request automatically.

Th

[2016-12-22 12:15] slawo opened #305 "Surprising (unwanted) behavior with AVH `git flow release finish`"
Why does `git flow release finish <release>` merge master back to develop?

This is contrary to the original git flow implementation and it seems to be enabled by default.

It there a way to avoid bringing master back to develop when we `finish` a release or anything else?

[2016-12-22 13:00] maldag commented on #305
I guess the idea is to make sure develop is up to date with master.

[2016-12-22 13:13] slawo commented on #305
@maldag Develop is supposed to receive changes from release and hot fix only.
Any other commits in master that are not made in develop are supposed to be specific to the master branch. It then becomes the responsibility of the team to manage these changes.

In the original gitflow master is moved into develop only when develop is created. Auto magically merging master into develop was not the inte

[2016-12-22 13:25] slawo commented on #305
@maldag, in the original gitflow master is moved into develop only when develop is created. Auto magically merging master into develop was not the intended behavior in the original gitflow.

Master is supposed to receive changes from `release` and from `hotfix` only.
Develop is supposed to receive changes from `feature`, `release` and `hotfix`. Some people or teams will add more commits to develop

[2016-12-22 13:36] slawo commented on #305
A very common and simple example is this:

You create a project.
In the develop branch you add a readme with some [shields](https://shields.io).
Once you release the project in the master branch you will changes the shields to reference the master branch.
If you never change these again you will have real information about the develop branch in the develop branch, and you will have the information

[2017-01-06 20:08] DerfOh commented on #291
From what I understand the purpose of using --no-ff is used to make a merge commit when merging into a different branch.

[2017-02-06 18:45] NerdsvilleCEO opened #307 "git-flow across forks"
What is the recommended way to use git-flow across forks? The workflow works perfectly until we try to use it across remotes

[2017-02-16 00:52] EduardoRT commented on #304
Yeah, I don't get why this isn't more requested in both of these projects, if you're not doing PRs then you're just using aliases to merge and create branches, I don't see much benefit to any of these projects without the ability to submit a PR and work with my teammates.

This doesn't mean I'm not using the aliases the project provides though.

[2017-02-22 10:20] TwanoO67 opened #308 "Install instruction not working"
Hello guys,

In the installation part of the Readme, the mac version with curl, is not up to date.

in the command:
`curl https://raw.github.com/petervanderdoes/gitflow-avh/develop/contrib/gitflow-installer.sh > gitflow-installer.sh`

the link should be:
`https://raw.githubusercontent.com/petervanderdoes/gitflow-avh/develop/contrib/gitflow-installer.sh`

because the link with raw.github.com is a r

[2017-02-24 11:11] ruiming commented on #299
see https://github.com/petervanderdoes/gitflow-avh/wiki/Reference:-Configuration

[2017-02-25 17:24] vukanac commented on #305
Maybe this created confusion:

* source: [nvie](http://nvie.com/posts/a-successful-git-branching-model/)

If we are looking the same picture, I see an arrow from master to develop.

Maybe your point of view contains valid requests, for badges etc.... but maybe additional options in git flow.

    git flow release finish -b

Help:

    -b, --[no]nobackmerge          Don't back-merge master, or tag

[2017-02-25 20:47] vukanac commented on #287
Any consideration to update "Feature for future release" with updated develop branch after v1.0?

[2017-03-02 14:01] JoeNyland commented on #230
@petervanderdoes This issue has been plaguing the team here for some time. Is there an update?

## System info
[code]

## Reproduce issue
[code]

## Expected output
[code]

## Actual output
[code]

[2017-03-02 18:28] petervanderdoes commented on #230
I should be fixed per commit  0bf6509.

[2017-03-02 19:35] JoeNyland commented on #230
Ok, cool. Thanks! Any idea on when there will be a new release?

[2017-03-02 20:08] petervanderdoes commented on #230
Not really, I only settled two weeks, been in transit for about a year prior so I need to catch up on issues here, but I would say probably Week 8, March 19-25 2017.

[2017-03-02 21:19] JoeNyland commented on #230
Ok, no worries 👍

[2017-03-03 00:28] petervanderdoes commented on #308
Thank you for reporting.
Fixed.

[2017-03-03 00:28] #308 closed

[2017-03-03 00:29] petervanderdoes commented on #307
Not sure what you mean, can you elaborate?

[2017-03-03 00:41] petervanderdoes commented on #304
In the current setup it's pretty hard to accomplish. There is a BASH lib to interact with the GitHub API, but the current strength of git-flow is that it run POSIX shell, meaning it can run on almost any machine with a shell.

Maybe if I get my skills up in Golang, I could rewrite this whole thing in Golang. :)  But for now support for the Github API is not in the future.

[2017-03-03 00:44] EduardoRT commented on #304
@petervanderdoes Thank you so much for your answer, I understand the feeling of keeping something true to its original goals; rewriting this in Go would be awesome and a really nice goal to get this going.

Again, I thank you for your project, I still use it every day.

[2017-03-03 00:49] petervanderdoes commented on #301
AFAIK most GUI implement the workflow created by nvie, not so much nvie source. By writing their own software for the implementation they don't use the same flags and options created by me.

If I knew how to change that I would.

[2017-03-03 00:57] MichaelMallett commented on #301
Annoyingly SourceTree actually lets you specify the GitFlow binary...but
then it checks for a specific commit in the original Git Flow repo, so it
fails if you try to specify git flow avh

On Fri, Mar 3, 2017 at 11:49 AM, Peter van der Does <
notifications@github.com> wrote:

[2017-03-03 00:58] petervanderdoes commented on #300
What is it that you put in the `gitflow_export` Curious on why it would have branch name.

[2017-03-03 01:29] petervanderdoes commented on #299
Hubflow is a different implementation.

[2017-03-03 01:29] #299 closed

[2017-03-03 01:30] petervanderdoes commented on #293
You seem to have setup git to use vi for commit editing and the system can't find vi.

[2017-03-03 01:50] petervanderdoes commented on #291
The only time a branch should be merged with fast-forward is when the branch only has one commit.

The reason is legacy, sometime in the past there was a discussion and it was determined that if there was only 1 commit on a branch the branch would be merged with `-ff`

If it happens all the time, meaning with to be merged branches that have more than 1 commit please let me know, because something

[2017-03-03 06:46] renewooller commented on #293
I would have thought so also. The strange thing is that when I do other operations that require an editor using git, it will fire up vi without any error.

[2017-03-03 15:27] egorse commented on #300
gitflow.branch.* (and sometimes gitflow.prefix.*) would be nice to have there.

Why? Sometimes we have different master/develop naming and it may be even content dependent. So you can not use unattended ```git flow init -d```.

[2017-03-08 01:13] petervanderdoes commented on #304
Closing this for now.

[2017-03-08 01:13] #304 closed

[2017-03-08 01:15] petervanderdoes commented on #293
The only thing I can think of is that you have some settings `~/.gitlfow_export` that mess things up

[2017-03-08 01:33] petervanderdoes commented on #300
I don't understand. I must be missing something.
Adding `gitflow.branch.master` to the `.gitflow_export` doesn't change  the naming.
If you want to change the naming you can use `git flow config set` after the init

[2017-03-08 03:16] renewooller commented on #293
have solved this thanks to:
http://tooky.co.uk/there-was-a-problem-with-the-editor-vi-git-on-mac-os-x/
I actually did have a problem commit messages in VI. The problem is still a little mysterious, but adding:

git config --global core.editor /usr/bin/vim

has fixed the issue. Git flow is working fine now.

[2017-03-08 04:28] petervanderdoes commented on #293
Yup mysterious indeed. But glad it's solved right now.

[2017-03-08 04:28] #293 closed

[2017-03-08 17:18] egorse commented on #300
There is no sense to change already initialized repo. That's true.
But ```git flow init -d``` defaults should be taken from ```.gitflow_export```.

Then it would be possible to do - ```git clone some_repo.git && git checkout some.old.ver && git flow init -d```, or similar when expected naming schema is differs from default develop/master, but once it is in ```.gitflow_export``` then there is no ne

[2017-03-10 10:01] jrial commented on #195
@spiroski

For hotfix start or feature start, I agree that this would make sense, assuming you're already on the base branch. Otherwise your stash pop could lead to merge conflicts. You'll also have these if you do it manually, but GF should try to avoid causing problems that need manual intervention if possible, IMHO.

@Grinderofl

Re. "multiple hotfixes": a google search for `gitflow-avh multipl

[2017-03-28 19:00] tpodom opened #310 "Release finish is not deleting remote branch"
We've been having an issue where the remote branches aren't being deleting during the release finish.  I was digging through the commands to see if I could figure out what was causing it to not delete and I've somewhat tracked it down to git flow not seeing the remote branch.  It appears the initial fetch at the beginning is throwing off the git for-each-ref later:

For example, if I have a releas

[2017-03-31 00:11] petervanderdoes commented on #294
Just missed it :) Fixed per commit 3cb0919
Thank you for reporting

[2017-03-31 00:11] #294 closed

[2017-03-31 00:18] petervanderdoes commented on #305
O long time ago this was a discussion at nvie. It has to do with `git describe` See https://github.com/nvie/gitflow/issues/49

[2017-03-31 00:18] #305 closed

[2017-03-31 00:20] petervanderdoes commented on #296
This is a homebrew issue. The recipe on homebrew should take care of the symlinks

[2017-03-31 00:20] #296 closed

[2017-03-31 00:20] #291 closed

[2017-03-31 01:15] petervanderdoes commented on #259
Fixed per commit 96ef4d056accf61a88004a5293566306c8b58289

Thank you for reporting

[2017-03-31 01:15] #259 closed

[2017-03-31 01:22] petervanderdoes commented on #281
Fixed per commit 54d74d61a7310cf3b04469e5d0b02f31e6004279

Thank you for reporting

[2017-03-31 01:22] #281 closed

[2017-03-31 01:25] petervanderdoes commented on #283
What happened when you had multiple branches that would match? Like refactorProps and refinedates for example?

[2017-03-31 01:27] #290 closed

[2017-03-31 12:24] Grinderofl commented on #195
@jrial I wrote an epistle of a comment, and deleted it all to say this one thing all over again:

**Tools like gitflow should fit into the users' workflows, not the other way around. Forcing a clean working tree _invariably for all users_ is an artificial limitation. The only solution is to provide a configuration flag for git flow that allows users to say "I know wtf I'm doing. Stop limiting me"!

[2017-03-31 15:54] jrial commented on #195
@spiroski actually, come to think of it, is it even necessary to add a `--stash` flag in the first place? It might be handy for other reasons, but the way I see it if the branch change can be performed without stashing at all, it's a redundant step. In your use case, we start from the base branch (unless I read you wrong), so no branch change is even required.

If, on the other hand, you started y

[2017-04-04 12:51] petervanderdoes commented on #195
@Grinderofl

This is just impossible. One could argue that there is a workflow for every user.

- "My repository is located on GitHub and the tool should be able to use the PR functionality"
- "My repository is located on Gitlab and the tool should be able to use the Merge Request functionality"
- "My repository is located on Bitbucket and the tool should be able to use the PR functionality"
- "I

[2017-04-04 13:32] jrial commented on #195
@petervanderdoes

No, the way I understand it is he wants git-flow to simply start a hotfix/feature/... without stashing at all.

I do agree with him that there probably is no need to require a clean working folder when starting a new branch, given some conditions:

- One is already on the base branch for the new branch (master for a new hotfix, develop for a new feature, release).
- Or checking o

[2017-04-06 22:45] Dominik1123 opened #312 "Features with a single commit only are merged using fast-forward"
Finishing a feature which contains only a single commit is merged using fast-forward. Not sure if this is intended, i.m.o. fast-forward should never be used for features for the sake of clearness (+ this creates inconsistency with respect to 2+ commit features).

[2017-04-07 13:40] Grinderofl commented on #195
@petervanderdoes

When I say "tools should fit into users' workflows", it's probably more accurate to say "popular tools should not lock you into a single workflow". While I agree that "GitFlow the Workflow" is fine the way it is, I don't think that "git flow the Tool" however should force it onto you, as if you adhere to "GitFlow the Workflow" point for point, why not prevent users from also givi

[2017-04-14 05:37] mayerc-MSFT opened #313 "develop branch policy only allows merges via pull request"
Our **develop** branch's policy is configured such that merges are only allowed via pull request (Visual Studio Online).  `release finish` merges changes from the release branch onto **master** and **develop**.  We want the merge into **master**, but not into **develop** (due to policy).

What are your thoughts on adding a flag to `release finish` to skip the merge into develop (only merge into ma

[2017-04-15 00:03] bradym commented on #313
This feature already exists...

[code]

[2017-04-15 00:05] mayerc-MSFT commented on #313
Thanks @bradym .  Doesn't -b suppress the merge from release into master (in addition to develop)?

The change I'm proposing is to suppress the merge into develop **but keep the merge into master.**

[2017-04-15 00:12] bradym commented on #313
Nope, it merges to master but does not try to backmerge to develop. I've been using this command for awhile and it's working great:

[code]

Even though some of those options are the default, I try to always be explicit about what's happening so I don't have to guess later when I'm editing a script.

[2017-04-15 00:14] mayerc-MSFT commented on #313
@bradym Sweet. I could swear I got different results when I tried -nobackmerge last time.  I'll give this another try when I get to office. Thanks a lot for sharing the command you use.

[2017-04-16 18:11] petervanderdoes commented on #313
If you want the no back merge to be a default option you can do:

`git config --bool gitflow.release.finish.nobackmerge true`

This way you no longer have to remember to enter the option `--nobackmerge` on a finish.

git-flow adheres to reading the config file like git itself, so you can use the options `--local`, `--system', or '--global` to set the options depending on your preference.

For more

[2017-04-22 06:31] binarykitchen opened #314 "/usr/lib/git-core/git-flow: 79: [: Illegal number: -master"
Seeing this recently. Any clues what this can be?

[2017-04-25 13:06] petervanderdoes commented on #314
Which OS?
Which version of git-flow?

[2017-04-25 13:09] petervanderdoes commented on #195
Got it. I'll add a check for a configuration setting as you propose.

[2017-04-25 14:00] petervanderdoes commented on #195
Implemented starting commit 310c84a35aa8894ebf9e39f1a846edcf35906272 Development version 1.11.0-dev.23

[2017-04-25 14:00] #195 closed

[2017-04-25 14:01] petervanderdoes commented on #195
The config setting to be used is `gitflow.allowdirty`. The wiki will be updated when a new release is send out, hopefully sometime this week, depending on my schedule.

[2017-04-28 06:45] binarykitchen commented on #314
mac OS 10.12.4
git-flow = 1.10.2 AVH edition

[2017-05-04 13:50] petervanderdoes commented on #314
Do you have GNU-Getopt installed?

https://github.com/petervanderdoes/gitflow-avh/wiki/Installing-on-Mac-OS-X#post-installation-setup-1

[2017-05-04 21:35] binarykitchen commented on #314
cannot install it

[code]

[2017-05-05 00:28] petervanderdoes commented on #314
It's `brew install gnu-getopt` no period at the end. I fixed the wiki page as well

[2017-05-06 14:48] port80labs commented on #301
I recently came across this -

https://www.git-tower.com/

[2017-05-06 14:57] port80labs opened #315 "Ability to integrate with github issues"
Can we add ability to automatically pull a github issue based on number or just next assigned issue from github. I would think having another command like `git flow issue ##number##` would be not redundant but this could be a feature or a defect.

[2017-05-08 19:46] dmurat commented on #313
As I understood after looking into the source of git-flow-release script, nobackmerge flag does not prevent merge into develop. It only selects weather master (default) or release (nobackmerge) branch will be merged into develop.

I will really like the nodevelopmerge option which will prevent any kind of merge into develop during finishing a release.

In my case, during preparing a release I only

[2017-05-08 20:26] petervanderdoes commented on #313
That's where filters come in handy, see for an example, that I actually use, what you can do with hooks and filters:
https://github.com/petervanderdoes/general-hooks

After a release the script `post-flow-release-finish` runs which updates the version info in the develop branch

[2017-05-08 21:05] dmurat commented on #313
I see. However, this still looks like more involved than using simple command line switch. It looks like other folks will also prefer such solution. At least they are all thinking that nobackmerge prevents any merge into develop rather then merging release instead of master. It looks like they need, including me, a simple solution for preventing merge into develop. Could you, please, consider supp

[2017-05-08 21:32] mayerc-MSFT commented on #313
@petervanderdoes unfortunately I don't think (or at least can't see how) a filter/hook can meet our team's needs.  It feels like filters/hooks are an awesome solution for executing _additional_ logic/steps, but _not for skipping/disabling_ behavior baked into `git-flow-release`.  Is that so?

I'd love a simple switch to disable the merge back into dev and sounds like a cmdline switch would work gr

[2017-05-09 12:14] petervanderdoes commented on #313
@mayerc-MSFT Feel free to open an PR.

Just so everybody knows that doing this, meaning opt to not merge your release back into your develop branch, will create a diversion between your master branch and develop branch as there will be commits on your master that will never be in your develop branch.

[2017-05-09 13:16] petervanderdoes commented on #315
This sounds good but I want to be careful not to move the software to be used with Github only and it has to stay POSIX shell.

Right now the software can be used on almost any systems, Linux, Mac, BSD, Solaris, you name it because of Posix shell. Not everybody runs a bash shell for example.

Right now the software can be used with any repository, local or remote, and any hosting company whether i

[2017-05-09 14:56] port80labs commented on #315
agreed. I wonder if there is a way to build a extension framework where others could extend the flow commands

[2017-05-09 23:11] hackel commented on #287
I stumbled upon this trying to figure out what where a "bugfix branch" fit into the new flow, and how they differ from hotfix branches.  I can't seem to find any documentation on it anywhere, but I gather they are like hotfixes for a release branch?  In any case, it would be nice to see them incorporated into this new graphic.

[2017-05-09 23:20] petervanderdoes commented on #287
@hackel Bugfix branches are nothing more than feature branches. People wanted to see a difference between if a branch was a feature or bugfix. So I added the bugfix branch.

[2017-05-10 20:47] binkley opened #316 "Update README to explain what AVH adds over vanilla gitflow"
This line in `README.md`: _ This fork adds functionality not added to the original branch._

I scanned the readme but didn't see any explanation what I get out of AVH over vanilla gitflow.  I'd love to know!

Thanks

[2017-05-12 15:17] czeslav87 commented on #313
@mayerc-MSFT I'd love to see that PR. We're having the same flow.
@petervanderdoes Good point. Good solution for such workflow would auto-merge (master->develop) hook on origin repo.

[2017-05-15 03:55] mayerc-MSFT commented on #313
Created PR here: https://github.com/petervanderdoes/gitflow-avh/pull/317

@petervanderdoes @czeslav87 @dmurat

[2017-05-17 05:23] jblac commented on #315
There's always the use of hub for github by github: https://github.com/github/hub

[2017-05-17 05:36] jblac commented on #301
I'm pretty sure gitkraken only checks for values within your config for the repo.   I mean if you MUST use a gui that is...  I've made everyone on my team to learn the command line both before any scripts and after any scripts ( programmers and non-programmers alike ) -- I wanted to make sure they understood what is happening under the hood before doing anything "magically"...   I'm weird though,

[2017-05-17 05:57] MichaelMallett commented on #301
I 100% agree, but it's part of a series of bigger battles and at the moment
I want to pick the ones I can win first.

On 17 May 2017 at 15:36, jblac <notifications@github.com> wrote:

[2017-05-20 01:33] petervanderdoes commented on #316
I will add a link to the file pointing to the CHANGELOG.md
For now, starting with version [0.4.2-avh1](https://github.com/petervanderdoes/gitflow-avh/blob/develop/CHANGELOG.md#042-avh1) I started adding functionality and bugfixes. That file is the best so so far.

One day I will need to summarize it a bit more :)

[2017-05-20 01:34] #314 closed

[2017-05-20 01:39] petervanderdoes commented on #312
This is intentionally. It was the way it was setup in the original git-flow and was a subject to a big debate.

You can use the flag ``--no-ff`` to not use fast-forward. This flag can be set as a default as well. See more info for that on the [wiki page](https://github.com/petervanderdoes/gitflow-avh/wiki/Reference:-Configuration#git-flow-feature) (This is linked to the feature command but other c

[2017-05-20 01:39] #312 closed

[2017-05-20 01:41] petervanderdoes commented on #285
Forgot to include this in the release

[2017-05-24 04:00] hackel commented on #287
Aha, thank you @petervanderdoes!  So simple!

[2017-06-01 12:40] SocFoot opened #320 "How customize git flow to add new custom git command?"
Hello, I really like git flow, and I would be interested in forking it. I mostly want to have short cut of git command following git flow mantra. So I have a transparent tool / best practices/ custom features.
Should I fork your project or just use git short cut system? My problem is that i'm not a shell expert so can't really see if forking your project can be done easily. Is there an easy way to

[2017-06-02 13:10] GrzegorzP commented on #201
@mgk indeed!
Nothing new in this case ?

[2017-06-03 15:35] petervanderdoes commented on #320
What exactly do you mean with "to have short cut of git command"?

[2017-06-03 15:49] petervanderdoes commented on #313
Feature added.

[2017-06-03 15:49] #313 closed

[2017-06-03 15:53] petervanderdoes commented on #301
On a side note, last time I checked Git Kraken it did not obey the setting:

[code]

Commits where never signed when committed with Gitkraken.

[2017-06-06 07:52] 3kynox commented on #287
Hello folks.

I would like to add something about the hotfix branch which seem to have more commands than the others, any particular reasons for that ?

Thanks

[2017-06-06 08:21] jrial commented on #287
@3kynox How do you mean, more commands?

Hotfix, 5 commands:

`(zenoss_palantir)[10:15] nighty@saltmine zenoss_palantir$ git flow hotfix help
usage: git flow hotfix [list]
   or: git flow hotfix start
   or: git flow hotfix finish
   or: git flow hotfix publish
   or: git flow hotfix delete

    Manage your hotfix branches.

    For more specific help type the command followed by --help
`

Release

[2017-06-06 09:09] 3kynox commented on #287
Hey,

You just pasted it, 10 commands for bugfix, like feature. hotfix branching got 6. If bugfix goal is the same as hotfix one but for the develop branch, if I understood correctly, why does we have more options to treat that new branch ?

I'm just trying to understand correctly the new bugfix branch and maybe to help update the git flow branching picture for peoples be aware of that changes.

[2017-06-06 09:26] jrial commented on #287
@3kynox Oh, sorry, misread you there. Thought you were talking about hotfix. My bad.

You're right, there are a couple of commands that look like they could be common commands, which appear to be missing from hotfix/release. Or at least from the help documentation; haven't checked the code. My guess is they were simply forgotten rather than purposefully ommitted, but I'm sure @petervanderdoes can

[2017-06-09 10:15] SocFoot commented on #320
Thanx for the response. I meant just using git aliases. From my stand point i can't see the difference between your app and just Aliases, so i don't really know how to choose.

[2017-06-09 10:51] petervanderdoes commented on #320
Most of it can't be done in just Git aliases and that would be mostly because of flags used in commands.

For example: git flow feature finish
The following steps are done in that process:

- Check if the feature branch actually exists
- Are there uncomitted files on the branch
- Checkout the branch that needs the feature branch
- Merge the feature branch

And that's just without any optional work

[2017-06-09 11:35] johngeorgewright opened #321 "How to deinit or reinit"
Within one of my repos git flow seems to be bit broken:

[code]

Is there something I can do to remove/reinit git flow from a project?

[2017-06-14 15:30] vzamanillo opened #322 "Proposal: Organize repo tags using branch prefixes"
Hey!

It would be great the possibility to use the branch prefix to create the tags after finishing the `release`, `hotfix` and `bugfix` branches, I think it could be helpful for repositories with a lot of activity (large projects) with => 4 team members, I don't know what could be the best approach to do it, maybe with a new boolean configuration flag like `gitflow.prefix.tagwithprefix = yes`
[co

[2017-06-14 15:41] vzamanillo opened #323 "Question: How to add a third branch to the flow?"
Hi!

Our team are actually working with a third `staging` branch, the `staging` branch have to include the same changes as feature, hotfix and bugfix branches.

How to include the staging branch into the flow? Is this possible? maybe using the `post-flow-*branch*-finish` hooks?

Any ideas or help is welcome.

Thanks!

[2017-06-14 16:20] petervanderdoes commented on #323
Funny you ask, I just started a job where there is a same sort of setup. I'll have to think about this and how this can be implemented.

[2017-06-14 16:23] vzamanillo commented on #321
Edit your repo config file and add/edit the following values to:

[code]
save and start using gitflow :)

[2017-06-14 16:24] petervanderdoes commented on #321
What version are you running?
`git flow version`

[2017-06-14 16:27] vzamanillo commented on #323
@petervanderdoes , thank you!!

[2017-06-14 16:33] jbinnography commented on #323
We have a similar set up at my job, and I've been thinking a lot about implementing something like this in my fork.

I'd love to help flesh this out.

[2017-06-14 16:41] vzamanillo commented on #323
I asked for a third branch, but maybe should be easy to implement this feature for an "unlimited" number of branches (or limited but enough, 5 by example) it may be useful for others.

[2017-06-21 12:10] moreau-nicolas commented on #248
Hello.
@petervanderdoes  Is someone already working on a fix for this ?
This problem seems quite old.
I'd be willing to try and submit a PR.

[2017-06-26 08:56] jurgenhaas commented on #235
I'm very interested in this and wanted to give it a try. Unfortunately, version 1.9.1 is the latest being available both in the official Ubuntu repositories as well as in https://launchpad.net/~pdoes/+archive/ubuntu/gitflow-avh

So, my questino is two fold: which of the cli options is going to be the "final" one for fast forwarding master (according to release notes it seems to be --ff-master) and

[2017-07-05 11:58] raehalme commented on #257
Any update on this?

[2017-07-07 10:35] vsund opened #326 "Possibility to store config in repository"
I search a way to store the gitflow configuration in the directory to ensure that all contributors share the same config. I found (open) issues in the original repository, but no progress there.

Is this somehow possible or planned?

[2017-07-10 16:09] Raindeer44 commented on #307
@NerdsvilleCEO GitHub forking is just a wrapping around the `git clone` command, with some extra features (like setting your fork on GitHub as `origin` and the original repo as `upstream`). So tools like git-flow should work the same across forks as if you created a new local clone.

If you meant something else by "fork", please do clarify.

[2017-07-10 16:23] NerdsvilleCEO commented on #307
How do I specify to git flow to use a different upstream (eg git push foo feature/blah.. or in other words something like git flow feature publish <remote> branch)

[2017-07-10 16:26] NerdsvilleCEO commented on #307
... git flow feature publish (remote) (branch)

[2017-07-20 09:10] pke opened #327 "git flow hotfix finish collides with required reviews on GitHub"
We have setup our repo on GitHub to require reviews for branches before they can be merged into develop.

That also seems to block `git flow hotfix finish` and `git flow release finish` with the message:

[code]
And sometimes:

[code]

The release/hotfix branch itself has been reviewed an approved though.

So what is really going on here?

[2017-07-21 09:00] gpongelli opened #328 "[Question] Why track command has not remote parameter?"
Hello,
I've read that pull command will be deprecated in favor of track command.
But, with pull command it's possible to pull a branch (its name is optional) from a remote (required).
Instead, with track command the only parameter is the branch name, having the remote fixed to $ORIGIN .

Is there any reason of this choice ?

Thanks.

[2017-07-23 04:50] j3ffrw opened #329 "Release/hotfix branch lost after release finish when push to dev and master failed"
Hi, I have a scenario where if git push to develop/master failed in release finish, the release or hotfix branch is lost, w/c makes rerunning release/hotfix finish again impossible. We're running our builds in bitbucket pipelines so recovering from local is not possible. A good way to test or replicate this is to remove write access to the repo then do a release/hotfix finish.

Upon the checking t

[2017-08-02 19:37] hughescr commented on #257
Why does git-flow put any `--ff-only` or `--no-ff` options on the merge commands?  Why can't users just express their preference for "always merge" or "don't merge" through `~/.gitconfig`'s `[merge]` section?  Forcing either on or off, or requiring some flag to `git flow` subcommands when you've already expressed what you want in `~/.gitconfig` seems a little perverse to me.

[2017-08-02 19:41] hughescr commented on #257
eg. In my case I kind of want `--no-ff` to master from release, but I kind of want prefer-ff when going back to develop from master (assuming that noone injected anything in the meantime on develop), but my develop->release->master timeline is generally approximately instantaneous, so I can almost always FF develop to catch up to the release, and having the merge commit in the history is kind of u

[2017-08-03 20:36] Shea690901 commented on #257
On Fri, Aug 19, 2016 at 5:47 AM, @petervanderdoes wrote:

And with the next release we reintroduce the just fixed bug again....
Just because we forgot to merge the hotfix branch with both the release-branch (if it exists) and the develop-branch before finishing the hotfix...

[2017-08-09 10:48] johngeorgewright commented on #321
1.11.0 (AVH Edition).

Installed with brew.

[2017-08-09 11:10] johngeorgewright commented on #321
OK, still unsure what the problem was, however, what seemed to fix it was *removing* all references to `gitflow` in `[repo]/.git/config` and then running `git flow init` again.

[2017-08-09 11:10] #321 closed

[2017-08-11 12:14] andreabisiach opened #331 "Please add "giflow.feature.finish.push" and "giflow.bugfix.finish.push""
Hello,

I am pretty new to git flow and I am trying to have a setup for a group of developers that forces them to fetch and push everytime they inititate or finish a bug or feature branch.
for fetch i used config gitflow.feature.start.fetch=true and gitflow.bugfix.start.fetch=true
I also use gitflow.feature.finish.fetch=true and gitflow.bugfix.finish.fetch=true to ensure they get the latest from d

[2017-08-11 12:24] NobbZ commented on #331
Personally I do not think so.

Nothing should be pushed into one of the longlived branches without peer review and CI. Both are able to detect out-of-date branches, and if that happened we still have the opportunity to rebase.

Personally I like to pull a branch, walk into the park and stay disconnected for a couple of hours. After that I present my work to my peer and we merge (or do not). Beeing

[2017-08-11 12:29] andreasbisiach commented on #331
I understand your point and maybe my suggestion is based on my "newbie" knowledge of git.
But as arguments form my side:
1) It would be a option as the others (false by default), so it may suit some working scenario but no harm others
2) Why git flow release and git flow hotfix do have a --push option? Your concern should applied to those commands as well

[2017-08-11 12:49] NobbZ commented on #331
I'm not sure about the reasoning behind them, but perhaps it is because hotfix and release are usually not done lightheartedly but by a single responsible person against a usually protected branch. But as I said thats only theory.

Also, I do not care for a CLI argument I have to pass explicitely when I want it (`git feature finish stuff --push`). This could save me a lot of typing on the next lin

[2017-08-11 13:02] andreasbisiach commented on #331
The primary reason  behind my suggestion is that I want to simplify the git operation for a small goup that is not particolarly skilled in git (less then me and that says it all).
So:
1) gitflow.feature.start.fetch=true (or --fetch) ensures that before starting a feature, they will receive a warning if there are new commits on develop at origin. In this way, the will need to first switch to develo

[2017-08-22 13:34] arnemertz commented on #257
I'm with @hughescr wrt. not forcing --ff-only or --no-ff. We explicitly set our repos to `merge.ff = false` and `pull.ff = true`, so we basically see nothing but merge commits on develop, and any actual changes go into the feature/bugfix/etc. branches. With the forced ff, finishing a feature may just forward develop to the last commit of that feature branch instead of explicitly adding a merge com

[2017-09-04 10:11] ValerioCadeddu opened #332 "How to work with bugfix branches"
Hi All,
I'm trying to use the bugfix branch type on existing Release branch type.
Referring to the initial Vincent's branching model, I can see that a minor issue born after the Release branch model creation, must/could be created directly from this branch. So, based on this, I thought that it's correct to create a bugfix branch, branching off Release one. The point is this, once finished the bugf

[2017-09-11 19:43] plexigras opened #333 "custom default merge messages"
i want to have custom presets for my merge messages depending on the branch types

[2017-09-26 08:50] Yendolosch commented on #283
How about TAB completion, like in the bash? Is it possible to write some custom-built programmable completion that kicks in whenever a branch is expected, or would that be too many cases to cover them all?

[2017-10-03 16:58] rosskevin commented on #123
@binarykitchen I've got the same exact problem with a `package.json` version bump.  My `master` stays untouched and only CI performs `git flow release`.  What did you end up doing?

This was the merge conflict, which I have no comprehension why:

[code]